[2016-10-26 13:52] jneuff opened #1 "Add new feature: aproximate entropy"
For a description of the feature see https://en.wikipedia.org/wiki/Approximate_entropy
A tutorial on how to add new features to tsfresh can be found in our documentation: http://tsfresh.readthedocs.io/en/latest/text/how_to_add_custom_feature.html

[2016-10-26 14:07] jneuff opened #2 "Several feature calculators lack unit tests"
The feature calculators augmented_dickey_fuller, fft_coefficient, number_cwt_peaks, spkt_welch_density, cwt_coefficients lack unit tests. See [feature_calculators.py](https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_extraction/feature_calculators.py) for their implementations. Stubs for the corresponding tests can be found in [test_feature_calculations.py](https://github.com/blue

[2016-10-26 14:36] jneuff opened #3 "Parallelize the calculation of p-values"
Currently we calculate the p-values per feature in a [loop](https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_selection/feature_selector.py#L117):

[code]

This loop could be parallelized with joblib or something similar.

[2016-10-26 14:58] jneuff opened #4 "Parallelize the calculation of features"
Currently we calculate the features in a [list comprehension](https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_extraction/extraction.py#L84):

[code]

A first step would be to parallelize this list comprehension with joblib or something similar.

Further, as can be seen [here](http://tsfresh.readthedocs.io/en/latest/_images/feature_extraction_process_20160815_mc_1.png) the calcul

[2016-10-26 15:31] jneuff opened #5 "Add new feature: p-value of the Augmented Dickey-Fuller test"
Currently we calculate the Augmented Dickey-Fuller test statistic as [feature](https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_extraction/feature_calculators.py#L253). The p-value of the Augmented Dickey-Fuller test might also be a relevant feature.

As the statsmodels function `adfuller` returns the test statistic as well as the p-value, it would make sense to memoize or buffer

[2016-10-26 17:23] MaxBenChrist opened #6 "Fix pypi package overview and documentation"
Currently, travis is starting "setup.py upload" which uploads tsfresh to pypi. This setup py also uses the README.MD as the package description on pypi. [However, the documentation looks bad because pypi does not support the github markdown highlighting](https://pypi.python.org/pypi/tsfresh/0.1.0) We should have a separate readme for pypi.

Also, pypi or travis seem to uploaded not only to rtd but

[2016-10-27 07:14] jneuff opened #7 "Add static type annotations"
We already include type annotations for most functions in their docstrings. [mypy](http://mypy-lang.org/) offers a comment syntax for annotating types in Python 2. This would help us ensure that these annotations are correct.

[2016-10-27 07:22] jneuff opened #8 "Python 3 support"
Currently we only support Python 2. In future releases we want to support both Python 2 and 3. [This](https://docs.python.org/3/howto/pyporting.html) howto outlines the main steps towards Python 3 support.

[2016-10-27 09:16] MaxBenChrist commented on #6
Further, there seem to be an issue with the autodoc importer on read the docs

http://tsfresh.readthedocs.io/en/latest/api/tsfresh.convenience.html

[2016-10-27 09:21] jneuff opened #9 "Provide example for a workflow in case of a multiclass target"
When selecting features we assume the classification case only when the target is binary:

[code]

Otherwise we assume the regression case.

So for a multiclass target the user has to perform a binary one versus rest classification. We should provide an example how to efficiently do that using tsfresh, i.e.:
1. Calculate all features once
2. Select the features separately for each one versus rest

[2016-10-27 09:28] jneuff opened #10 "Dask support"
To efficiently handle huge data sets, we could make use of [Dask](http://dask.pydata.org/en/latest/)

[2016-10-27 09:33] jneuff opened #11 "Improve unit tests with data sets"
Currently our test cases only use integer data sets. We should add tests using data sets containing floats, NaNs and +/-Infs as well as data sets of length 1.

[2016-10-27 09:37] jneuff opened #12 "Find the optimal versions for our requirements"
For our requirements we have to figure out the minimum versions we actually need. Optimizing our requirements increases our compatibility with different package versions and helps us support more environments.

[2016-10-27 09:48] jneuff opened #13 "Provide a stand alone script operating on csv"
We could provide a stand alone script that runs tsfresh directly on csv files and returns the results as another csv file.

[2016-10-27 09:58] MaxBenChrist commented on #6
the read the docs problem with autodoc was solved by activating the installation of the project package in the read the docs advantage settings

[2016-10-27 12:33] jneuff commented on #6
https://github.com/blue-yonder/tsfresh/commit/9862ee965de2299b92b00ce3ce2b919683e0cf20

[2016-10-27 12:33] #6 closed

[2016-10-27 13:05] MaxBenChrist commented on #6
the documentation is still uploaded to python hosted as the option

`with-docs=0`

in setup.cfg is ignored. We can tackle this manually by uploading the pypi_index.zip manually to pypi after each release deployment.

[2016-10-27 20:52] deter3 opened #15 "ipython notebook error"
in notebook , robot_failure_example.ipynb ,

X_filtered = extract_relevant_features(df, y, column_id='id', column_sort='time')

had error of

"ValueError: Column a__autocorrelation__lag_8 of dataframe must not contain NaN values "

[2016-10-27 20:57] deter3 opened #16 "Permission denied for robot_execution_failures data download"
tsfresh.examples.robot_execution_failures.download_robot_execution_failures()

got error

"Permission denied: '/usr/local/lib/python2.7/site-packages/tsfresh/examples/data'"

i have to manually sudo mkdir folder and sudo wget http://archive.ics.uci.edu/ml/machine-learning-databases/robotfailure-mld/lp1.data to folder '/usr/local/lib/python2.7/site-packages/tsfresh/examples/data/robotfailure-mld/ "

[2016-10-27 21:08] jneuff commented on #16
We expected users install the package inside a virtualenv for which the user has full access rights. That is our normal workflow. Thanks for bringing this up, we will try to come up with a fix for the next release!

[2016-10-27 21:27] jneuff commented on #15
Yeah, we recently changed the standard setting for feature extraction to not impute the results. Some features might produce NaNs under certain conditions. To have the results imputed you need to instantiate the FeatureExtractionSettings class manually and set IMPUTE to the desired impute function.

This should do the trick:
[code]
Thanks for bringing this up!

[2016-10-28 14:48] jneuff commented on #16
The permissions are now checked before file creation is attempted.

[2016-10-28 14:48] #16 closed

[2016-10-28 15:17] #15 closed

[2016-10-30 12:45] MaxBenChrist opened #21 "Add MinimalFeatureExtractionSettings"
Right now our FeatureExtractionSettings contains many features.

It would be nice to have a smaller FeatureExtractionSettings object that only calculates basic properties such as mean, median, min, max. This would allow to fastly  tinker with data and then later calculate the big list of features

[2016-10-30 19:51] guerrajorge opened #22 "Improve documentation for saving and loading of feature extraction calculators"
Hello Max and the other contributors,

Great work on this library, It works really well.

Is it possible to save and load extraction calculators that were used in a dataset? For instance, let's say that I have a dataset and I run extract_features and then select_features. As of result, some features are being removed and the standing features were calculated based on a specific calculator. Is ther

[2016-10-30 20:28] MaxBenChrist commented on #22
Hola Jorge!

yes, indeed it is possible to save and load the extraction calculators that were used on a dataset. Actually we spend a lot time thinking about how we make that possible.

The solution we came up with is based on the `from_columns()` method of the `FeatureExtractionSettings` class.  This method deduces the feature calculators and their parameters from the feature names in the calculat

[2016-10-31 03:45] bobchennan opened #24 "Add to FAQ: different length of time series possible"
Does it support different length of time series?

I am interested to use it on audio tasks.

Thanks!

[2016-10-31 06:18] MaxBenChrist commented on #24
Yes, it supports different time series lenghts.

[2016-10-31 16:52] MaxBenChrist opened #25 "Fix code on quick start documentation"
Reported by user WickedWicky on r/machinelearning

"from tsfresh import select features" should be "from tsfresh import select_features"
and the last block you use 'df' as an argument where you defined it as 'timeseries' earlier.

[2016-10-31 18:02] earthgecko commented on #13
Possible for sure :) It could probably do json too...

Makes me think of a lite version of TPOT - https://github.com/rhiever/tpot

Nice project :)

[2016-10-31 18:15] grantbey opened #26 "ImportError: No module named 'StringIO'"
I cannot import, the following error appears:

[code]

A little searching shows that the `StringIO` module is gone in Python 3 and has been replaced with the `io` module, from whence `io.StringIO` should be imported.

[2016-10-31 18:25] MaxBenChrist commented on #26
unfurtunately, at this point we do not support python3, see #8

[2016-10-31 18:27] #26 closed

[2016-10-31 18:27] MaxBenChrist commented on #8
see #26

[2016-10-31 18:28] grantbey commented on #8
Bummer. Thanks for the reply.

[2016-10-31 20:23] MaxBenChrist commented on #8
sooner or later we will have that python3 support :)

until then, you could extract the features with a local python2.7 interpreter, pickle the dataframe and then load them into your python3.5 project

[2016-10-31 23:09] #25 closed

[2016-11-01 08:57] MaxBenChrist commented on #8
I will look into this later

[2016-11-01 16:26] xgdgsc opened #28 "link issue with repo description"
The repo description "Automatic extraction of relevant features from time series: http://tsfresh.readthedocs.io. " , there should be a space before the last dot or the url won' t open correctly.

[2016-11-01 16:46] jneuff commented on #28
It works fine for me (Safari). Which browser are you running?
There seem to be different takes on this, see [1] for example.

github renders the relevant part of the README.md to:
[code]
I think this is OK.

[1] http://ux.stackexchange.com/a/15228

[2016-11-01 16:50] MaxBenChrist commented on #28
Maybe he was referring to the description on the top.

It had a dot which I removed

<img width="1003" alt="bildschirmfoto 2016-11-01 um 17 49 53" src="https://cloud.githubusercontent.com/assets/13162426/19898263/9e490b56-a05b-11e6-891c-ca6c5f53efa1.png">

[2016-11-01 17:00] jneuff commented on #28
That seems about right.

[2016-11-01 17:00] #28 closed

[2016-11-01 18:10] MaxBenChrist commented on #8
I just uploaded the branch "i8_add_python3_support"

on it, I started to make tsfresh runable under python3. Now, all unit tests are passing on python 2.7, on Python 3.5.1, 14 unit tests are failing.

Maybe I will have time during the next days to finish the job. Otherwise it would be nice if somebody else could check the changes and getting that unit tests to pass.

[2016-11-01 19:01] earthgecko commented on #8
I will take a look.  I have to do it for Skyline at some point and I really want to deep dive into what you are up to here, so it may be an effective method for me to start a Python 3 path in my own sphere and get a handle on how you do not run into some of the clustering issues relating to timeseries as with k-means et al.

@jneuff I have read the paper now and dug a bit deep and I now understand

[2016-11-02 04:32] Huandao0812 commented on #22
Hi Max, I tried to do the same by your example, but my X_new has different number of features than my X_old, my core is here https://github.com/Huandao0812/lstm_exp/blob/master/test_tsfresh.py#L46
can you have a quick look

[2016-11-02 05:04] Huandao0812 commented on #22
update: I check the diff of 2 set of columns and this is the difference:
the X_new has 2 more columns than the X_old
diff columns = set(['feature__cwt_coefficients__widths_(2, 5, 10, 20)__coeff_13__w_20', 'feature__cwt_coefficients__widths_(2, 5, 10, 20)__coeff_3__w_5'])

[2016-11-02 07:16] MaxBenChrist opened #29 "extraction and filtering not equal to filtered extraction"
User @Huandao0812  reported in issue #22:

can you have a quick look

the X_new has 2 more columns than the X_old
diff columns = set(['feature__cwt_coefficients__widths_(2, 5, 10, 20)__coeff_13__w_20', 'feature__cwt_coefficients__widths_(2, 5, 10, 20)__coeff_3__w_5'])

[2016-11-02 07:18] MaxBenChrist commented on #29
Hi @Huandao0812, could you please provide some data for the code snippet?

[2016-11-02 07:20] MaxBenChrist commented on #29
It is a wild guess, but It could be that the .fromcolumns() method does not play nicely with [apply features](http://tsfresh.readthedocs.io/en/latest/text/how_to_add_custom_feature.html) that have multiple parameters

[2016-11-02 08:49] MaxBenChrist commented on #8
hi @earthgecko

we are happy about anybody that wants to contribute. You could take my "i8_add_python3_support" branch as a starting point.

Where do one find this `py352_ok = True` flag? I am not familiar with it.

Bytheway, to what are you referring with TPOT ? :)

Max

[2016-11-02 09:19] Huandao0812 commented on #29
@MaxBenChrist the data is under the folder data/ in the repos https://github.com/Huandao0812/lstm_exp/tree/master/data

[2016-11-02 09:46] MaxBenChrist commented on #29
Thanks @Huandao0812, I will look into that.

[2016-11-02 11:03] earthgecko commented on #8
Hi @MaxBenChrist

I have your i8_add_python3_support branch and I am working on that.  Any changes
I will pull small increments on that branch for you.

A question concerning about how to handle Python 3 builtins in a backwards
compatible manner?  For example the use of builtins in tsfresh/feature_selection/feature_selector.py
in the i8_add_python3_support branch is not backwards compatible with 2

[2016-11-02 12:55] earthgecko opened #31 "Add testing information to how_to_contribute"
It would be good to add a section in how_to_contribute on testing with examples and some information on how the project is tested locally.

[2016-11-02 16:46] earthgecko commented on #8
Now down 5 failing unit tests from 14

The outstanding ones are mostly related to objects have no attribute 'assertItemsEqual' in a number of contexts and there is a pandas errors related to:

[code]

In tests/transformers/test_full_pipeline.py along with an AssertionError too, they may be related

[code]

[2016-11-02 16:48] jpdus commented on #8
Some info on blocking points (was playing with the Python3 branch but unfortunately have no time to go into depth or create a fix myself right now):

The first example
`extracted_features = extract_features(timeseries, column_id="id", column_sort="time")`

yields:

[code]
/opt/conda/lib/python3.5/site-packages/pandas/computation/expressions.py:181: UserWarning: evaluating in Python space because t

[2016-11-02 19:11] earthgecko commented on #8
The current py2 py3 tests state in a gist - https://gist.github.com/earthgecko/118d168f88ebb37661154e3cb898c1fb

[2016-11-02 20:16] jneuff commented on #8
The method assertItemsEqual has been removed from unites.TestCase somewhere along the way to Python 3.5 – we'll need to find a replacement with the same semantics.

[2016-11-03 08:07] earthgecko commented on #8
@jneuff yes!  Semantically they appear to be the same, relating failing tests pass \o/

However, fixing that now just letting the next unittest.assertEqual issue raise its head, it seems that assertEqual has changed in py3 as well, that may go a bit deeper :(  One step at a time :)

### assertEqual change

Current debug

[code]

Used in quite a few places - https://github.com/blue-yonder/tsfresh/s

[2016-11-03 12:11] jneuff opened #34 "Provide function to produce list of features from FeatureExtractionSettings object"
There should be an easy way to obtain a list of all features a FeatureExtractionSettings object is configured to calculate.

[2016-11-04 09:59] MaxBenChrist commented on #29
I think I found the reason. Features that had multiple parameters could end up with different name even though their configuration was the same. (For example featureXY__a_1__b_2 and featureXY__b_2__a_1)

A simple sorted fixed this.

[2016-11-04 10:03] #29 closed

[2016-11-04 10:06] MaxBenChrist commented on #8
I rewrote those unittests with the six framework.

Some of the unit tests still failed, the reason for that was the bug in #29

[2016-11-04 10:11] #8 closed

[2016-11-05 22:42] mynameisvinn commented on #24
@bobchennan @MaxBenChrist different lengths dont matter - as long as the sampling frequency is the same (eg constant sampling audio at 20hz). constant sampling frequency is required for certain calculations, eg fourier transforms

[2016-11-06 03:18] vinodpkd opened #40 "Installation problem on Windows 10 - Anaconda2"
I have run this command for installation of tsfresh in windows 10:

"C:\Anaconda2\Scripts\pip.exe" install "C:\Anaconda2\extrapackages\tsfresh-master.zip"

I got the error as:

Processing c:\anaconda2\extrapackages\tsfresh-master.zip
    Complete output from command python setup.py egg_info:

    Installed c:\users\vinodv\appdata\local\temp\pip-jwysox-build\.eggs\pyscaffold-2.5.6-py2.7.egg
    ERR

[2016-11-06 12:03] MaxBenChrist commented on #40
@vinodpkd

I do not have access to any windows 10 machine. Maybe you can try to install tsfresh from inside a linux [vagrant box?](https://www.vagrantup.com)

[2016-11-06 23:16] CYHSM commented on #1
I implemented it based on the Wikipedia Article but changed the list comprehension to a vectorized method, which seemed a lot faster with my limited testing. Should i just add the feature calculator as shown in the docs and create a pull request?

[2016-11-07 00:05] SomeSnm opened #42 "PCA after feature extraction"
Hello.

Am I understanding it correctly, that it is recommended to perform PCA on the extracted features to achieve better accuracy in classification?

I saw it in the paper: https://arxiv.org/pdf/1610.07717v1.pdf

[2016-11-07 07:13] MaxBenChrist commented on #1
@CYHSM A pull request would be helpful, I am looking forward to it.

[2016-11-07 07:15] MaxBenChrist commented on #42
In our simulations, this combination proved to be very competitive. You can use the [sklearn PCA implementation](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html)

[2016-11-07 07:15] #42 closed

[2016-11-07 08:34] #40 closed

[2016-11-07 08:52] #22 closed

[2016-11-07 08:58] #31 closed

[2016-11-07 08:58] #24 closed

[2016-11-07 09:00] MaxBenChrist opened #43 "Improve FAQ"
Add the following points to FAQ:

- PCA, why is it useful and which implementation to use
- Extraction and filtering is equal to filtered extraction
- How to save time by pickling calculated features
- How can I apply tsfresh to huge time series datasets ?

[2016-11-08 12:50] ronikass opened #47 "Add to FAQ: Comparing tsfresh to other feature extraction and selection methods"
Hi,

I reviewed the documentation. There are 2 main things in tsfresh:
1. Feature extraction (I saw you have a rather long list of features you create)
2. Feature filtering

I have some general questions:
1. What is unique about the feature filtering ? for example, let's say I want to use the features for classification. Can't I just take all the features to an information.gain software (like FSel

[2016-11-08 17:24] MaxBenChrist opened #49 "Discuss FeatureExtractionSettingsObject"
At the moment the FeatureExtractionSettingsObject feels clumsy and hard to understand.

Also the naming of some methods do not seem to fit their purpose (I am looking at you, `set_default_parameters`).

We should rethink our FeatureExtractionSettingsObject API and think about which functionality is still missing. (For example at the moment `do_not_calculate` is not able to iterate over all kind of

[2016-11-08 17:43] MaxBenChrist commented on #47
Good questions:

Its based on classical statistical hypothesis tests and a multiple test procedure. This means that the percentage of irrelevant among the extracted features will be asymptotically controlled by the filtering.
Basically we take vintage statistical methods to solve a machine learning problem.

Most other feature selection algorithms such as the Boruta do not give you any insights in

[2016-11-08 17:44] MaxBenChrist commented on #47
Does this answers your questions?

[2016-11-08 17:51] ronikass commented on #47
I want to know if this statement is accurate: "The features created are kind of standard typical time series features. The main innovation is the feature filtering process"

[2016-11-08 17:52] ronikass commented on #47
Second question: I have a time series of length 1,000. Should/Can I create features for entire length and also features for half length, and also features for 0.25 length and then run filtering, or just to run on entire length ?

[2016-11-08 18:16] MaxBenChrist commented on #47
Regarding your first question: the only oder Package i know of that automatically extracts time series features is the hctsa package by Ben fulcher (it is written in matlab) so the collection of feature extractions methods in Tsfresh is also unique!

[2016-11-08 18:17] MaxBenChrist commented on #47
for the second question. Yes you can use Tsfresh with pandas resampling method for that

[2016-11-08 18:30] ronikass commented on #47
Did anyone try and port tfresh to R or C#. I assume there are 2 main efforts, the feature extraction (tens of features, some are just 1 function in R, some maybe more problematic.) and feature filter algorithm.

I would like to try and port to R. Where can I see a very small time series, that shows the value for each feature (before feature filtering, so we can benchmark the port to R of filter ex

[2016-11-09 07:49] #1 closed

[2016-11-09 07:54] MaxBenChrist opened #50 "Implement new feature: sample entropy"
@CYHSM mentioned this paper https://www.ncbi.nlm.nih.gov/pubmed/10843903?dopt=Abstract

We should implement the entropy features sample entropy (SampEn)

[2016-11-09 09:06] MaxBenChrist commented on #47
It would be quite straightforward to port the feature filtering to R.

However, it will not be trivial to port the feature calculation as some feature calculators depends on  libraries (numpy, scipy and so on) that use fortran / C code. Instead you could use the upcoming csv standalone script to extract the features and then just load them to R

[2016-11-09 09:11] ronikass commented on #47
Maybe not trivial bit the way to go, as csv is very limited, especially in big data, but runs, multi process and so onSo I need a time series and output for each feature                                                                                                                                                                        Sent from my BlackBerry - the most secure mobile device

[2016-11-09 11:54] ronikass commented on #47
So, it is possible to get a list of all features with the output of each feature , with a sample time series ?
The time sries should be as SHORT as possible, for easy debug, could even be random numbers

[2016-11-09 12:38] MaxBenChrist commented on #47
Just have a look at the documentation, all the features are documented there:

http://tsfresh.readthedocs.io/en/latest/api/tsfresh.feature_extraction.html

[2016-11-09 12:41] ronikass commented on #47
I am fully aware of this link, however, I am R user, not python (don't even have python), so this is why I need a time series (can be even 50 random numbers), which are ran against the features, and then the results should be sent as a text file, for benchmark, should take 5 seconds for you to make.

The I can take the time series, start developing each feature in R, and make sure I get same resul

[2016-11-09 12:52] MaxBenChrist opened #51 "Track successful applications of tsfresh"
It would be nice to have an overview in the documentation for which fields (biology, manufactoring line optimization, predictive maintenance, financial data) the application of tsfresh proved to be helpful.

[2016-11-10 08:52] ronikass opened #52 "Can tsfresh be used to solve this problem"
Hi,

I have 400,000 time series, each of length 1,000.
Each time series has a class 0 or 1 (binary classification problem). The dataset is balanced between 0 and 1

I have created my own features (min,max,sd,var,linear regression) on different time length of the time series (50,100,200,300,400,500,600,700,800,900,1000), which cam out to be 900 features.

I have ran the 900 features in grid search

[2016-11-10 11:11] MaxBenChrist commented on #52
Yes. Can you tell us more from which application this data belongs?

[2016-11-10 11:13] MaxBenChrist opened #53 "Add check if target y is pandas Series."
user @danjo89 reported an error
https://gist.github.com/danjo89/7db0fc3e145337969cec1f0e08a239fe

we do not have a check if the target y is a pandas Series. In the above case the target was a pandas DataFrame. We can easily add an check for that

[2016-11-10 11:40] ronikass commented on #52
Medical device

[2016-11-10 11:40] ronikass commented on #52
Can you explain more how one would use tsfresh for this binary class problem

[2016-11-10 11:48] MaxBenChrist commented on #52
Please have a look the paper, there we describe how we tackle binary classification problems with fresh

[2016-11-10 11:48] MaxBenChrist commented on #52
Can you give more details about the medical device?

[2016-11-10 11:50] ronikass commented on #52
It is a feasibility test of a prototype of some measurement device, where based on past samples, we want to understand if we can expect a irregular situation to happen (class 0 and class 1)

From: MaxBenChrist [mailto:notifications@github.com]
Sent: 10 November, 2016 1:48 PM
To: blue-yonder/tsfresh <tsfresh@noreply.github.com>
Cc: ronikass <kassroni@gmail.com>; Author <author@noreply.github.com>
S

[2016-11-10 11:55] MaxBenChrist commented on #52
So, maybe we can have another competition such as in [http://robjhyndman.com/hyndsight/ts-classification-contest/](http://robjhyndman.com/hyndsight/ts-classification-contest/) ?

This time with tsfresh 👍

[2016-11-10 12:20] ronikass commented on #52
Where in the paper ? I cant find it in the online version

From: MaxBenChrist [mailto:notifications@github.com]
Sent: 10 November, 2016 1:48 PM
To: blue-yonder/tsfresh <tsfresh@noreply.github.com>
Cc: ronikass <kassroni@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [blue-yonder/tsfresh] Can tsfresh be used to solve this problem (#52)

Please have a look the paper, there we describe h

[2016-11-10 12:53] MaxBenChrist commented on #52
Chapter 4 Introduction
Chapter 4.1 Accuracy

Pages 7 to 9

Am 10. November 2016 um 13:20 schrieb ronikass <notifications@github.com>:

Where in the paper ? I cant find it in the online version

From: MaxBenChrist [mailto:notifications@github.com]
Sent: 10 November, 2016 1:48 PM
To: blue-yonder/tsfresh <tsfresh@noreply.github.com>
Cc: ronikass <kassroni@gmail.com>; Author <author@noreply.github.com

[2016-11-11 13:47] MaxBenChrist opened #54 "Add example/documentation how to use tsfresh for time series forecasting"

[2016-11-11 20:42] iamhatesz opened #55 "select_features returns empty DataFrame"
Hi,

I tried to run tsfresh on my sample data (2 time series). After calling `extract_features` I received following matrix:

1004 feature_2 feature_3 ...

Then I call `select_features` like this:

[code]

But all I receive is an empty DataFrame. What I am doing wrong?

[2016-11-11 20:51] MaxBenChrist commented on #55
Hi Thomas,

Can you add a complete code snippet for this example?

Best

Max

Von meinem iPhone gesendet

[2016-11-11 21:02] iamhatesz commented on #55
Sure.
Let's assume that `sampleRecord` is a DataFrame consists of data for two time series (10000 rows each) as follows:

[code]

I want to use `signal_filtered` as a value. `personRecordId` is my time series identifier and `t` is a time mark.

[code]

It returns:

[code]

[2016-11-11 22:35] MaxBenChrist commented on #55
The problem is that you do not have enough samples, only 2. The filtering method is very restrictive to control the fdr (=percentage of irrelevant added features) for any distribution and dependency structure.

If you do not have enough statistics (=number of samples) the feature filtering will treat the features as unimportant because it could be that observed correlations only occur by chance. F

[2016-11-11 22:35] #55 closed

[2016-11-11 22:36] MaxBenChrist commented on #55
Try adding more samples! :)

[2016-11-11 22:36] #52 closed

[2016-11-13 23:32] MaxBenChrist opened #59 "Add feature class: Count/Percentage same value"
I had an idea for a class of features.

1.  percentage of data points that occur at least second time
2. sum of data points that occur at least second time
3. percentage of observed values that occur at lest second time
...

[2016-11-15 00:19] MaxBenChrist opened #61 "Explain the FeatureExtractionSettings object in documentation"
Especially how to control which features are calculated with `setting.name_to_param` dictionary.

[2016-11-16 05:37] AnnaVM opened #62 "Update the Quick Start"
In order to follow along on the Quick Start page, in the Dive in section, I believe the method used to load the data should be updated, as the code would not run as is.

[code]

[2016-11-16 09:29] nils-braun commented on #4
@jneuff Are there already plans on how to do this? I am glad to help in this issue :-)

[2016-11-16 18:22] earthgecko commented on #62
@AnnaVM I found the same thing yesterday, added a pull request with the updated the Dive In section in, thanks.

[2016-11-16 20:29] earthgecko commented on #62
That said @AnnaVM I think you should do this pull request :)

 I just copied the file across ;)  I think you really fixed this error in the .rst code :)

[code]

[2016-11-16 20:47] nils-braun commented on #59
@MaxBenChrist if this issue is not already assigned to someone else, I would take care of this.

[2016-11-16 20:56] MaxBenChrist commented on #59
Go for it!

[2016-11-16 21:16] MaxBenChrist commented on #62
4e3d1f4 fixed this

[2016-11-16 21:16] #62 closed

[2016-11-16 22:15] MaxBenChrist commented on #61
Further we should explain how to prevent unnecessary features being calculated with the from columns method

[2016-11-16 22:30] nils-braun commented on #21
Do you think it would be better to delete the other calculations from the beginning in the name_to_param array or just do not add them to the kind_to_calculation_settings_mapping in the set_default_parameters function?

And how to deal with it in the from_columns method? I think here the functions should still be added if the user requests them - this is why I would not delete them from name_to_pa

[2016-11-16 22:37] nils-braun commented on #13
@jneuff The question is only, how should the user give options to the script. I mean e.g. the column names can easily by set by console arguments, but setting the feature extraction/selection settings are a bit inconvenient (because of their wide range of options). I would prefer to use the default settings in this case only and only export the settings on which columns to use.

[2016-11-16 23:21] MaxBenChrist commented on #13
We already have a script, see scripts/run_tsfresh.py.

What are indeed missing are some parameters for the column names and so on

[2016-11-16 23:41] MaxBenChrist commented on #21
@jneuff looked into that. Maybe he can add some remarks as well. We moved the setup of `name_to_param` from the `set_default_parameters` to the constructor. See 8048ef4.

The current logic is *"extract all the features from `name_to_param` for all types of time series"*.

If we follow that for a minimal MinimalFeatureExtractionSettings Object, then it just have a smaller  `name_to_param` object.

[2016-11-17 18:13] jneuff commented on #21
I'd offer methods to instantiate a minimal and a full Settings object. A simple solution would be to initialize `name_to_param` as empty dict in the __init__ and provide two class methods that will instantiate and configure a minimal and a full Settings object respectively. Similar to what we're doing right now with from_columns.

[2016-11-18 12:45] javierorozco opened #67 "No Selected Features"
Using a collection of 147 time series with 20 time stamps each, the method `extract_features returns` 211 features. Some of the features are constant across all 147 IDs but others are not constant.

![image](https://cloud.githubusercontent.com/assets/5426388/20428582/d242cb3a-ad81-11e6-9732-7758926c4bc9.png)

When the method `select_features` is applied to the (147,211) DataFrame `X`, the outcome

[2016-11-18 16:02] earthgecko opened #68 "extract_features fails on a 0-indexed DataFrame"
Can I just confirm that in terms of the DataFrame passed to extract_features, the
DataFrame columns must be named with a string or at least > 0 digit?

The document indeed demonstrates named columns in all the DataFrame examples,
however it does not specifically say that the DataFrame cannot be default
0-indexed and perhaps there is a good reason for that.

This is easily worked around by naming t

[2016-11-18 17:29] MaxBenChrist commented on #67
Can you provide an examplary notebook with data? Otherwise we can not investigate properly.

Also, can you provide a selection report? You get it by setting the `write_selection_report`flag of the FeatureSelectionObject to True

[2016-11-18 17:34] MaxBenChrist commented on #68
I think nobody from our side tried that to naming columns 0. I will see how i can fix that. Good find

[2016-11-18 17:35] MaxBenChrist commented on #68
if we fix this, we have to fix the other columns as well

[2016-11-18 17:37] earthgecko commented on #68
@MaxBenChrist in that case I think it may apply to the other parameters as well seeing as the user can pass in at DataFrame that is ordered however they want it..

[2016-11-18 17:37] earthgecko commented on #68
snap :)

[2016-11-18 18:39] javierorozco commented on #67
This ZIP contains demo data and Jupiter Notebook
[javier_demo.zip](https://github.com/blue-yonder/tsfresh/files/600657/javier_demo.zip)

[2016-11-18 19:07] nils-braun commented on #34
In form of human-readable output or do you just want a list? Or what was the intention behind it?

[2016-11-18 19:42] #59 closed

[2016-11-18 21:50] nils-braun commented on #10
This is quite an interesting topic. However, the dask DataFrame-creation API is highly incompatible with the pandas one and using dask correctly would mean some severe changes to the implementation.

So my question is
(1) do we really need this
(2) are there use cases where we need to run over more data that fits into the memory and
(3) isn't the processing time so large in these cases that we sho

[2016-11-20 08:29] nils-braun commented on #21
I am actually against doing this with another member function - because it would be something everyone has to call everytime and it would be easily forgotten. I would rather create a child class MinimalFeatureExtractionSettings and overload the constructor.

[2016-11-21 04:00] #13 closed

[2016-11-21 21:22] jneuff commented on #34
The idea was to have a list, like the column names of the resulting feature matrix but without the `kind` prefix. It's not that important, just nice to have. As you can easily get an overview without calculating the features. Of course you could just look at the `name_to_param` member, but then it is not immediately clear for all features what the results will be.

[2016-11-21 21:29] jneuff commented on #10
Yes, this would imply quite some changes. This issue was meant to trigger the discussion.

On (3): Dask actually offers distributed scheduling.

[2016-11-21 22:55] MaxBenChrist commented on #10
(1) maybe dask is not the right solution for our proble. But at the moment, when wants to extract features for big number of time series, one has to apply tsfresh chunkwise because some feature calculators are quite memory intensive. So lets say you have 16 GB of ram, then you probably can not process 2-3 GB of Time series data in one chunk, you have to split it by devices and pickle the feature D

[2016-11-23 00:28] Huandao0812 opened #72 "List of features"
I don't see a list of features to be calculated somewhere, can we add that information into documentation?

[2016-11-23 00:31] MaxBenChrist commented on #72
http://tsfresh.readthedocs.io/en/latest/api/tsfresh.feature_extraction.html#module-tsfresh.feature_extraction.feature_calculators

[2016-11-23 00:31] #72 closed

[2016-11-23 05:12] MaxBenChrist commented on #67
You have too many unimportant features.

[code]
This will extract a__time_reversal_asymmetry_statistic__lag_2,	a__mean_change and a__number_peaks__n_1

However, the handling of constant features is internally not done in the best fashion. TSFRESH could extract more features, I am working on that.

[2016-11-23 16:53] nils-braun commented on #3
Why not just use multithreading Pools? Because the jobs should be rather independent and caching will probably not help much, as these calculation is mostly done only once (or did I miss something?)

[2016-11-23 18:43] MaxBenChrist commented on #3
You are right, we can use processes, there is not need to use shared memory or objects. (I mean the target vector gets duplicated but that should not be much of a problem)

[2016-11-23 18:48] MaxBenChrist opened #74 "Classifying the feature calculators."
We can use our `@set_property(` decorator to give the feature calculators objects properties.

This can be for example used to classify `fast` calculators such as `@set_property("minimal", True)`. We could use such properties to classify our feature calculators even further. For example we could denote calculators that are *"time independent"* or that are *"medium costly"* or highly *"highly costl

[2016-11-24 08:23] MaxBenChrist commented on #67
I looked into that in detail javier. I found some bugs but your problem stays the same. Your samples does not contain enough evidence to make a feature "relevant".

Either increase the FDR level or use another feature selection method

[2016-11-24 08:23] #67 closed

[2016-11-24 09:29] nils-braun commented on #34
In the moment, the result is dependent on which kind you are referring to, because you could have different settings for different kinds - so the answer without the kind column would be actually wrong...

[2016-11-24 15:53] mynameisvinn commented on #11
just submitted PR

[2016-11-24 16:47] javierorozco commented on #67
Thanks Max for the update, have you pushed the bugs fixing to master?

[2016-11-24 21:36] MaxBenChrist commented on #67
Yes it is commit 7a21b5e05fff2917aad8d7bcd753eff976b1c6df

you can install master of tsfresh by `pip install git+https://github.com/blue-yonder/tsfresh`

[2016-11-24 21:45] #21 closed

[2016-11-25 11:25] #50 closed

[2016-11-26 20:22] mynameisvinn opened #81 "Dickey Fuller feature - return test statistic or boolean?"
as it currently stands, the feature returned by augmented_dickey_fuller is the test statistic. should (1) we return the test statistic feature or (2) a boolean, regarding reject/fail-to-reject hypothesis test?

in conventional analysis, this value is compared with corresponding values at 1%, 5%, 10% significance to test for stationarity (eg if DA statistic > 5% value, then fail to reject hypothesi

[2016-11-26 23:55] mynameisvinn commented on #43
ill take a stab either way, but in my experience singular spectrum analysis (ssa) is more relevant than pca since we're dealing w time series data

[2016-11-27 05:57] MaxBenChrist commented on #43
The PCA is not done on the time series Data points but on the normalized values of the features. You are r getting to a ssa on the time series aren't you?

[2016-11-27 12:04] MaxBenChrist commented on #81
we can have three different feature calculator: 1) value of test statistic 2) p-value 3) rejection of null hypothesis for level (alpha)

but the call to the augmented_dickey_fuller method should be cached by a decorator

[2016-11-27 12:59] MaxBenChrist commented on #68
should be solved on master

[2016-11-27 12:59] #68 closed

[2016-11-27 13:54] MaxBenChrist commented on #3
@nils-braun implemented this in pull request #76

[2016-11-27 13:54] #3 closed

[2016-11-27 15:16] mynameisvinn commented on #81
sounds good. wrt #3 ill create the predicate function

[2016-11-28 14:51] MaxBenChrist commented on #4
Done in 80803d688694e28b9a2739a7738f881d3da5b730 for different kind of time series

[2016-11-28 14:51] #4 closed

[2016-11-30 02:57] t2396156 opened #84 "Confusion about extract_relevant_features"
I have two time serises with different length and value, and they belong to two different labels, and i transform them into pandas.Dateframe like this
![image](https://cloud.githubusercontent.com/assets/12410347/20738055/7ee813fa-b6eb-11e6-9cab-d2fc3bbb3872.png)
when i use the method extract_relevant_features, and it return an empty list like this
![image](https://cloud.githubusercontent.com/asset

[2016-11-30 08:15] MaxBenChrist commented on #84
can you provide a notebook? with the data? so we can debug it.

from a first glimpse:

- y does not have an index
- you only have two samples, so your dataset contains not enough statistic. the filtering mechanism will reject all features. make sure you have at least 30+ samples

[2016-11-30 08:16] MaxBenChrist commented on #84
You can just extract all features with `extract_relevant_features(series, column_id='id', column_sort='time')` and then use another filtering mechanism from sklearn (lasso, boruta etc)

[2016-11-30 10:19] MaxBenChrist opened #85 "Feature combinations for different time series combination"
At the moment the calculated features are always based on one type of time series.

It would be nice to have features that are based on multiple time series.

We could use something in the line of http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html to get feature combinatins.

[2016-11-30 14:42] xgdgsc opened #86 "Rolling window of time series"
I want to extract features from a rolling window of a table with columns of several timeserieses and do some prediction based on the timeseries in that window.
Currently, as far as I understand the [doc](http://tsfresh.readthedocs.io/en/latest/text/quick_start.html). I have to extract the timeseries and tile them like in the example, so there would be a lot of duplicate data because the rolling wi

[2016-11-30 19:37] MaxBenChrist commented on #86
we have not yet implemented a rolling window api to do that efficiently.

To implement such a API, one would have to decide for every feature calculator if this calculator can use the result of the last window for the current window. For some features this can be easily done (maximum, mean, ..) but for others this is not trivially possible (median, wavelet coefficients, ...)

What we could do is t

[2016-12-01 02:25] t2396156 commented on #84
I'v tried your comment, this time i use 100 samples and turn y into pd.Series. But tsfresh raises a error
![image](https://cloud.githubusercontent.com/assets/12410347/20779222/fe466be8-b7ad-11e6-82ea-06aaf81b376b.png)
For your convenience, i post my code and data:
I used angry1 and fear1 in my last try
[fear1.txt](https://github.com/blue-yonder/tsfresh/files/623547/fear1.txt)
[angry1.txt](https://

[2016-12-01 07:11] t2396156 commented on #84
i'm sorry ,there is a bug in my code post before.
i will reply later after i try tsfresh im my whole data.

[2016-12-01 09:16] MaxBenChrist commented on #84
so you fixed everything? If yes, close this issue please

[2016-12-02 03:02] ClimbsRocks opened #88 "Provide the user with some sense of progress while extract_features is calculating"
Right now the only progress indicators are the Warning messages.

I know that doing the computation inside an async map call makes this trickier. But even just knowing how many different things it's calculating, and reporting back every once in a while on how many total have been completed, would be really useful. I'm not sure whether to read a quick xkcd comic while waiting, or go home and let th

[2016-12-02 03:04] ClimbsRocks opened #89 "Remove Warnings from the user experience"
I understand that printing all the UserWarnings and RuntimeWarnings is useful while developing on the source code of tsfresh, but as a user, it makes me wonder whether I screwed something up, or if there are bugs in the calculations themselves.

I'm assuming it's all intentional, but that's an assumption I'd rather not have to make, and a not-ideal user experience.

If you're ok with blocking warn

[2016-12-02 03:11] ClimbsRocks opened #90 "Allow NaN or None values to be passed in, and silently ignored"
In my DataFrames, I oftentimes find it very reasonable to have quite a few NaN or None values.

In order to run tsfresh, I just set all those values to 0, which is... not ideal. Even imputing missing values would not work particularly well for several of my use cases.

Yet, it seems (from a super naive outsider's perspective), like this is filtering that tsfresh could do relatively easily itself.

[2016-12-02 03:44] ClimbsRocks opened #91 "ZeroDivisionError: float division by zero"
I noticed quite a few divide by zero warnings, like below:
`/home/preston/.local/lib/python2.7/site-packages/scipy/signal/_peak_finding.py:412: RuntimeWarning: divide by zero encountered in double_scalars`

But then, at one point after running for a while, the entire `extract_features()` process errored out.

[code]
Should be pretty easy to do safe division that doesn't error.

[2016-12-02 03:44] ClimbsRocks commented on #86
This is pretty critical for all the problems I'm working on as well.

[2016-12-02 14:37] MaxBenChrist commented on #86
For most use cases that involve to forecast time series this can reduce the time to calculate the features.

But as stated above, for a class of features is it mathematically impossible to use auxiliary results from the last window.

[2016-12-02 14:38] MaxBenChrist commented on #86
If somebody of you wants to implement this, I would be glad to help you with the design decisions.  I will probably not have time for this during the next months

[2016-12-02 14:41] MaxBenChrist commented on #90
You can solve this by calling 'df.dropna(axis=1)' on the data frame that contains the time series in tsfresh format

[2016-12-02 14:45] MaxBenChrist commented on #90
This was a design decision. tsfresh will not tinker with the input time series data by for example imputing values or dropping NAs.

Reason behind this: In data science projects, NAs should be handled with special care, often they contain a lot of information. We don't want our packages to silently remove those informations by dropping it. This is way we are not imputing the input data.

[2016-12-02 14:48] MaxBenChrist commented on #88
Good point. If you extract features for different kind of time series this should be easily implemented.

[2016-12-02 15:30] earthgecko commented on #88
Can it at least be a log friendly progress indicator and not a some spinnings forward slashes, pipes and backslashes or some incrementally filling up progress bar which are visually pleasing but can be hell to logs.

Although we must think about the humans sitting there wondering how long it will take and if they have time to read a comic, we must also think of the machines that are conducting the

[2016-12-02 19:26] earthgecko commented on #88
Just try clarify, this point.

Universe Sandbox2 just presented me with an example of a progress indicator implementation that could be classified and classed as person_friendly and also not_great_for_a_machine_or_log.   It seemed relevant to share and I ironically choose Universe Sandbox2 over having to further contemplate the 50 / 3 Python paradox/dilemma (with which I have recently been confron

[2016-12-02 21:30] ClimbsRocks commented on #88
@earthgecko : Yeah, I've had my logs wrecked by some of those terrible progress indicators you're talking about. They also seem like unnecessary complexity at this stage. I'm just hoping for something simple, that's also reassuring for first-time users as they sit wondering whether things are working on their dataset or not :)

[2016-12-05 03:14] #84 closed

[2016-12-05 03:19] t2396156 opened #93 "Can i extract the specific features using tsfresh？"
I'v extracted some features through the method extract-relevant-features with my training data.
Now i have a new audio file, can i extract the same feature only with one new wav?

[2016-12-05 07:35] MaxBenChrist commented on #93
yes, you can for example use our sklearn transformers: http://tsfresh.readthedocs.io/en/latest/text/sklearn_transformers.html

[2016-12-05 07:35] #93 closed

[2016-12-05 07:36] MaxBenChrist commented on #93
you can fit that augmentor and then later apply it to your new wave to extract the same features

[2016-12-05 17:22] MaxBenChrist opened #94 "Hanging jobs for p-value calculation"
We have one run of tsfresh where one p-value calculation job and with it the whole filtering seem to hang. This parallel calculation of p-values was introduced in 17f144de4fd51d9a3323c37cd7bbdb4225fa9a33.

[2016-12-05 17:55] MaxBenChrist commented on #94
This happened while processing large feature vectors. Me and @jneuff are looking into that.

[2016-12-07 15:56] #94 closed

[2016-12-07 19:13] Kiv commented on #89
I agree with this. It makes a bad first impression to try and run the example code in the Quick Start, and get a full page of warnings like:

[code]

[2016-12-07 21:01] MaxBenChrist commented on #89
@nils-braun can you look into that?

[2016-12-07 21:02] MaxBenChrist commented on #61
@nils-braun Keen to write some documentation? :)

[2016-12-07 21:05] MaxBenChrist opened #96 "Parallelize extraction of features for same kind"
Currently, we are only parallelizing the calculation of features for different kind of time series.

It would be a huge boost in performance if the calculation of features is paralyzed for chunks of ids for the same kind.

[2016-12-07 21:12] MaxBenChrist commented on #89
@ClimbsRocks @Kiv I agree with you.

At the moment we are investigating how to make tsfresh faster. Afterwards we will polish the API, extend the documentation, solve those nasty warnings and make it a more pleasant overall experience to use tfresh. :)

[2016-12-07 23:55] ClimbsRocks commented on #89
Thanks for so actively developing on this! If I get a chance, I'll try to help with the Warning thing and submit a PR.

[2016-12-08 03:04] netivs opened #97 "calculated_cwt encounter out of bounds"
As my data to abstracting features is a little too big (more than 8G),  I abstracting the relevant features on a sampled much more small data (1% ) using  `extract_relevant_features` and create a extractingsetting using `FeatureExtractionSettings.from_columns` and then to abstracting only the relevant features on the full data. Relative code is shown as followng:
[code]
The `extract_relevant_featu

[2016-12-08 09:09] MaxBenChrist commented on #97
I know where the error occurs. To fix it, I need the  `feature_setting .kind_to_calculation_settings_mapping` parameter after you call

[code]

[2016-12-08 09:10] MaxBenChrist commented on #97
You are using version 0.3.0?

[2016-12-08 10:26] netivs commented on #97
Yes. I have install the tsfresh using pip install tsfresh, and the version shown is 0.3.0. I have checked the version use pip list and it is 0.3.0.

[2016-12-08 10:30] netivs commented on #97
Yes. I have install the tsfresh using pip install tsfresh, and the version shown is 0.3.0. I have checked the version use pip list and it is 0.3.0.

[2016-12-08 11:07] netivs commented on #97
The following is the `` ,please give me some help. Thanks!

[2016-12-08 11:52] MaxBenChrist commented on #97
how long is the smallest time series sample in your data?

can you provide a minimal code example as a notebook with data?

[2016-12-09 19:25] nils-braun commented on #89
@ClimbsRocks Ah sorry, now I already implemented it :-( But feel free to comment on my pull request! I just disable the warnings when a certain settings is on (the default).

[2016-12-09 19:46] nils-braun commented on #91
Thanks for reporting this. The warning is now gone (thanks for your other issue), but the exception is still there. The code is in the scipy package, so we can probably not change the division there.

Can you maybe send a notebook with the data, so I can play around a bit?

[2016-12-09 20:03] ClimbsRocks commented on #91
Thanks for your quick action on all this! I was trying this out on our production data, so unfortunately I can't share that publicly.

Do you have any recommended workarounds? Is there somewhere in the codebase I can wrap a line in a try/except block, and have it return 0 if it catches this exception? Or should I just add a constant 0.5 to everything so we don't have any 0 values?

[2016-12-09 20:06] MaxBenChrist commented on #91
@ClimbsRocks do you know which feature calculator caused this error?

We have similar problems when fitting the ARIMA models where we catch LinAlg Errors.

[2016-12-09 20:09] ClimbsRocks commented on #91
I don't know off-hand. I'll update the module and try re-running again. Other than just copying the whole terminal output here, is there anything in particular I should be looking for, or any settings I can set that'll provide more detailed/useful debugging info?

[2016-12-09 20:19] MaxBenChrist commented on #91
@nils-braun you got an idea what caused this?

@ClimbsRocks maybe you have a full stack trace?

If we know which feature calculator caused this, we can catch it like in the `augmented_dickey_fuller` calculator.

[2016-12-09 20:24] MaxBenChrist commented on #91
@ClimbsRocks you could just calculate feature individually to see which one caused it.

[2016-12-09 20:33] nils-braun commented on #91
Well, you can use a debugger (e.g. pdb), but this is probably quite some amount of work....
Or you can hope that it is an apply function, so you can include a print statement in line 192 of extraction.py.

[2016-12-09 20:36] MaxBenChrist commented on #91
@ClimbsRocks just to get a better feeling for your data:

- is it categorical = some values occur more than once?
- can the time series sample contain a lot of 0s?
- is there at least one time series sample that only contains 0s?
- is there a constant time series sample = all data points are equal

[2016-12-09 20:42] MaxBenChrist commented on #91
I got a possible reason for this, in `mean_autocorrelation` we divide by `/sum(x)`. autsch! :/

[2016-12-09 20:51] nils-braun commented on #91
Where do we do this? In `mean_autocorrelation` only numpy values are used, which do not have this problem.

[2016-12-09 20:54] MaxBenChrist commented on #91
Ah, wrong copy paste, it is in `index_mass_quantile`

[2016-12-09 20:56] nils-braun commented on #91
@ClimbsRocks if this is really the problem, can you check if #100 helps?

[2016-12-09 21:07] MaxBenChrist commented on #91
@nils-braun have a look at my pr. we should not allow negative mass in `index_mass_quantile`

[2016-12-09 21:24] nils-braun commented on #89
@ClimbsRocks Can we close the issue now? :-)

[2016-12-09 21:35] nils-braun commented on #88
I could take care of this, but I would wait until the parallelization is implemented

[2016-12-10 10:16] #90 closed

[2016-12-10 10:16] #89 closed

[2016-12-10 10:32] MaxBenChrist opened #102 "Add feature section features to docs"
many people do not seem to find the feature extraction module in our docs and ask about which features we extract.

The calculated features should be more easier to find in the docs

[2016-12-10 11:57] earthgecko commented on #102
Hi @MaxBenChrist

I am doing something similar that may be relevant here.  On may app side, tsfresh feature names are considered immutable once seen.  I was glad to see that 0.3.0 only added and did not change.  That said in my application I have to map tsfresh feature names to an id due to database relationships.

Further to this in my app tests, I test tsfresh, to ensure that the tsfresh version

[2016-12-10 15:10] MaxBenChrist commented on #102
Sounds interesting, indeed we are considering feature extractor names immutable. If we change them, we will consider this a non backwards compatible API change and increase the major version (we are following the semantic versioning http://semver.org)

I would be very interested to see a pr with your testing of "test tsfresh always calculates the same values for the same features on a baseline tim

[2016-12-12 00:49] netivs commented on #97
The data is to big to upload as a notebook. I debug the code and found it was broken at the line number of  91 of extraction.py, whose code is shown as the following:
`
pool = Pool(feature_extraction_settings.n_processes)
partial_extract_features_for_one_time_series = partial(_extract_features_for_one_time_series, column_id=column_id,column_value=column_value, settings=feature_extraction_settings)

[2016-12-12 09:01] MaxBenChrist commented on #97
I don't think that the pool.map is the problem. Instead I think this error is caused by the cwt feature calculator

If you want you can send me a subset of your data and the notebook, then I can debug it. If you don't want your code to be leaked you can send it to me in private.

[2016-12-12 09:51] netivs commented on #97
I removed all the cwt calculations by remove all features that has the keyword 'cwt' before `from_columns` is called, then the problem fixed. So, you are right, the problem is the cwt feature calculator. Because the data is too big, I'll try how to repeat this problem with a more small data and send you the code with neccesary data. Thanks for your help.

[2016-12-12 10:00] MaxBenChrist commented on #97
No problem, I am looking forward to the sample so I can debug this asap :) .

[2016-12-12 16:13] earthgecko opened #105 "Add functional end to end tests for the feature calculators"
As per https://github.com/blue-yonder/tsfresh/issues/102#issuecomment-266214963

During tests, test to ensure that the tsfresh version is calculating the exact
same values and feature names by calculating the features of a known static
timeseries. Each version then has a baseline in the tests too.

The tests take a sample of the first 60 data points, calculate the features so
it is very fast and t

[2016-12-12 22:00] MaxBenChrist opened #107 "IOError: bad message length"
While working with a larger data set, I got a `IOError: bad message length` from the multiprocessing pool. I will try to reproduce the bug with random data.

I was trying to extract the MinimalProperties.

Maybe this will be solved by the new parallelizing by samples.

[2016-12-12 22:31] nils-braun commented on #107
Yes, this could maybe be solved but still we need to find out, why this is happening.

This is a quite well known problem, and there are plenty of solutions out there (e.g. http://stackoverflow.com/questions/10721915/shared-memory-objects-in-python-multiprocessing). We just have to find one that suits our needs best :-)

[2016-12-13 16:21] netivs commented on #97
I have repeat the problem with a very small dataset and have sent it to your e-maill address at me.com. Thanks.

[2016-12-13 16:35] MaxBenChrist commented on #97
Thanks, I received your mail.

[2016-12-13 17:15] MaxBenChrist commented on #97
I fixed it, see the pr.

[2016-12-13 17:15] #97 closed

[2016-12-13 17:16] MaxBenChrist commented on #97
Thanks for the minimal example @netivs

[2016-12-14 11:27] earthgecko opened #109 "__version__ incorrect in 0.3.0"
It appears that tsfresh-0.3.0 is reporting the incorrect version in __version__.  I have compared 0.1.1 and 0.1.2 and ```pkg_resources.get_distribution('tsfresh').version``` reports the correct version in both of those, tsfresh-0.3.0 reports __version__ as:

0.1.1.post0.dev62+ng0f1b4c7

[2016-12-14 11:33] MaxBenChrist commented on #109
have you installed tsfresh from github or from pypi?

[2016-12-14 11:41] earthgecko commented on #109
pypi via pip

[2016-12-14 11:53] MaxBenChrist opened #110 "Travis is not deploying to pypi"
Travis is not deploying the tagged version 0.3.1, the log says

[code]

possibly related to #109

[2016-12-14 12:45] earthgecko commented on #110
This could just be a valid timeout?  It has the look of a varnish cache or nginx timeout - first byte timeout is often the varnish/nginx response to a backend failure.  I see you have submitted again and the job log says it is working, anyway just FYI on ```first byte timeout```

[2016-12-14 12:53] MaxBenChrist commented on #109
should be fine now with version tsfresh-0.3.1. We will use twine in the future to deploy

[2016-12-14 12:53] #109 closed

[2016-12-14 12:55] MaxBenChrist commented on #110
I used twine to upload to pypi, was quite straightforward:

[code]

[2016-12-14 12:56] MaxBenChrist commented on #110
Also `pkg_resources.get_distribution('tsfresh').version` reports version '0.3.1'

[2016-12-14 13:47] earthgecko commented on #109
Hi @MaxBenChrist

Travis just did I build on my pr and the pypi install of 0.3.1 is fine on my local with the version and the tests.

[code]

However on Travis the build is reporting both py2 and py3 version as:
tsfresh-0.3.1.post0.dev8+ng8c69469.dirty

py2 build - https://travis-ci.org/blue-yonder/tsfresh/jobs/183918566#L644
py3 build - https://travis-ci.org/blue-yonder/tsfresh/jobs/183918567#L64

[2016-12-14 13:53] GillesVandewiele opened #111 "Shapelet extraction"
One interesting feature with an explanatory ability is [shapelet extraction](http://alumni.cs.ucr.edu/~lexiangy/Shapelet/kdd2009shapelet.pdf).

Would maybe be interesting to implement within this package? A far from optimal code example by me can be found [here](https://www.kaggle.com/group16/leaf-classification/shapelets)

[2016-12-14 14:03] MaxBenChrist commented on #109
When you are building a non tagged version of tsfresh (such as in your pr branch), you will end up with a `tsfresh-0.3.1.post0.dev8+ng8c69469.dirty` version.

Does this affect you?

[2016-12-14 14:17] earthgecko commented on #109
Noted, that can be handled easily enough, thanks @MaxBenChrist

[2016-12-14 16:22] MaxBenChrist commented on #111
Looks interesting. Have you seen the part of our documentation that describes how to implement your own feature calculator?

[2016-12-14 16:32] MaxBenChrist commented on #111
I don't have time to read the paper at the moment. But, from a short glimpse on the paper I am not sure if this is a good fit for tsfresh. Essentially the paper describes a classifier not a feature extraction algorithm. It uses subsequences to do a nearest neighbor search, a k nearest neighbor search.

If we deploy this, suddenly tsfresh gets a state. This could be fine for the sklearn transformer

[2016-12-14 17:17] MaxBenChrist commented on #109
:)

[2016-12-15 13:34] MaxBenChrist commented on #91
I think we can close this one. @ClimbsRocks if this error still recurs with version 0.3.1 up please reopen this issue.

[2016-12-15 13:34] #91 closed

[2016-12-15 13:35] MaxBenChrist commented on #96
pr #98 solved this :)

[2016-12-15 13:35] #96 closed

[2016-12-15 14:17] GillesVandewiele commented on #111
It tries to extract subseries of timeseries that are most discriminative for a certain class. So it takes as input a set of time series with corresponding labels and returns shapelets that can be used as features for a classifier.

[2016-12-16 22:05] MaxBenChrist commented on #111
We have the convention that features must be real valued numbers. If I get you right, those shapelets are subsequences of the original time series?

[2016-12-16 22:42] nils-braun opened #113 "Travis has problems with HAT test"
The HAT unittest is failing in travis (see e.g. here https://travis-ci.org/blue-yonder/tsfresh/jobs/184653867).

Can someone maybe have a look, why this is happening? It seems the data is downloaded, but can not be found...

[2016-12-16 23:40] MaxBenChrist commented on #113
Indeed should be solved by pr 114

[2016-12-17 10:52] GillesVandewiele commented on #111
For k classes, you could have a 'best' shapelet for each class and then the distances to each of these classes could be added (k features), or the index of the closest shapelet could be added (1 feature).

The difference maybe is that here, a whole dataset is required to extract the 'best' shapelets instead of just 1 time serie.

[2016-12-17 11:56] MaxBenChrist commented on #111
By this you get a feature calculator with a state. Essentially you have to train the calculator (to get the shapelets) and then predict with it ( to get the distance to the class).

This means that tsfresh would have need to have separated data sets for train / test set. Up until now, the users can extract features for their whole data and do the train/test split by themselves.

Don't get me wrong

[2016-12-17 11:57] MaxBenChrist commented on #111
We already have sklearn based transformers, so we could start with that.

[2016-12-18 10:11] #113 closed

[2016-12-18 11:05] MaxBenChrist opened #115 "Out of index error for numerical index"
I got an out of index error for a numerical index. I will pin it down and submit a pr

[2016-12-18 11:14] MaxBenChrist commented on #115
I found the cause. `mean_abs_change_quantiles` is the perpetrator

[2016-12-18 11:30] #115 closed

[2016-12-18 11:30] MaxBenChrist commented on #115
see pr #116

[2016-12-18 12:44] jneuff commented on #111
I haven't looked at the paper yet. tsfresh being stateless has many advantages, but sooner or later we might have to introduce state to support features like this one. We should start thinking about ways to do this. As @MaxBenChrist said, our sklearn-transformers are probably a good starting point.

[2016-12-18 13:07] MaxBenChrist commented on #111
the biggest drawback will be that our APIs become more complicated. Eventually it lead to removing `extracting_features` and `extracting_relevant_features` and instead only offering the transformers.

[2016-12-18 13:53] MaxBenChrist commented on #88
@nils-braun what about: https://pypi.python.org/pypi/tqdm

I am tinkering with it around right now.

[2016-12-18 13:54] MaxBenChrist commented on #88
@nils-braun or do you already have a solution in mind?

[2016-12-18 14:56] nils-braun commented on #88
The question it comes down is: what should be the "minimal step" in a progress? Should each calculator function be one step in the progress? Or each kind/simple (depending on the parallelization)?

[2016-12-18 15:00] MaxBenChrist commented on #88
I think a progress for the chunks is sufficient.

With chunks I refer to the squares (sample x kind) out of the original data frame.

[2016-12-18 15:04] nils-braun commented on #88
so based on the parallelisation - ok. This would however mean that if you have one single time series with one kind, you only have one step in the progress bar (just to make this clear).

[2016-12-18 15:09] MaxBenChrist commented on #88
lets say

df =
id val1 val2
1 4 4
2 3 4
3 4 1
4 1 4

and you extract the features in parallel for those 4 "chunks"

id val1
1 4
2 3
id val2
1  4
2  4
id val1
3 4
4 1
id val2
3  1
4  4

after the completion of any one of those "chunks" the progress bar should increase by 1/4.

[2016-12-18 15:15] nils-braun commented on #88
... actually we do not have any parallelization mode for this, aren't we? We do have parallelisation per kind (which would be 2 in this example) or per sample (with would be 4 in this case, with the ids 1, 2, 3, 4 for both kinds). Or did I miss something?

[2016-12-18 15:16] nils-braun commented on #88
Ah sorry, I got it. Do not bother with my last comment...

[2016-12-18 15:20] MaxBenChrist commented on #88
Actually, the "per_sample" parallelization is parallelizing per kind and per sample

[2016-12-18 18:33] earthgecko commented on #111
@GillesVandewiele I have watched this one closely, that shapelet extraction looks very interesting, even it if is not totally suited to the stateless of tsfresh, it is very interesting in terms of the specific timeseries domain, thanks for pointing it out.  It will be interesting to see if is can be hooked into tsfresh via the sklearn-transformers as just another feature, however I would say it is

[2016-12-18 18:50] MaxBenChrist commented on #111
We had some discussion about the statelessness before. Personally, I would love to have something like k-Nearest-Neighbour with dynamic time warping as an additional feature calculator.

But, one thing we should not forget is that having a state also means that the parallelisation of tsfresh becomes way, way harder to implement, you would have to parallelize every single feature having a state.

I

[2016-12-18 18:54] earthgecko commented on #111
Me too but http://www.cs.ucr.edu/~eamonn/meaningless.pdf still applies to k-Nearest-Neighbour I think... I honestly cannot totally remember, all I know is that timeseries are difficult.  Timeseries with machine learning are difficult.

I would assert, possibly until tsfresh came along.  A small step for...

[2016-12-18 18:55] earthgecko commented on #111
@MaxBenChrist ^^ as I inferred, I forgot :)

[2016-12-18 19:02] MaxBenChrist opened #119 "Development roadmap"
We should have a discussion about the development roadmap for tsfresh:

I would propose that we focus on the speed in the near future.

1. Getting the parallelization right (chunk size?)
2. maybe caching some feature calculators
3. doing some performance testing with the different feature calculators (see issue #74), maybe speed up some
4. increase number of unit tests (issue #11)
5. get the imput

[2016-12-18 19:10] earthgecko commented on #111
@MaxBenChrist I reckon it can be hacked, if it was desirable (optional) in a manner that does not change tsfresh's stateless-ness.  I reckon tsfresh just made "one small step for...." timeseries and machine learning, imho.

I think that right now the stateless-ness of tsfresh should remain stateless for now.  However it is not beyond the realms of possibilities that tsfresh-plugins could not work

[2016-12-18 19:18] sfragosorodrig opened #120 "Time series data stream"
Hey guys!

Thanks for this amazing tool!

I have a dataframe like this:

Index            Feature_1    ....   Feature_n        Y
2015-01-01          2.4             2.7               3
2015-01-02         2.2             2.2               4
2015-01-03         2.3             2.5               2

How can I extract features for each of the rows while only using info that is know at each row, i.e. onl

[2016-12-18 19:26] earthgecko commented on #120
Hi @sfragosorodrig

Manipulate your data to match a format a described in the docs.  URL inbound.

[2016-12-18 19:27] earthgecko commented on #120
@sfragosorodrig http://tsfresh.readthedocs.io/en/latest/text/data_formats.html just manipulate your data to one of those formats and feed it to tsfresh.

[2016-12-18 19:33] nils-braun commented on #119
:+1:

[2016-12-18 19:39] nils-braun commented on #120
Hello! Thank you for your question :-)
Do you only want to know how to extract features from the timeseries at all (then see earthgeckos answer) or how  to do this in your special problem with the "rolling" timeseries?

For the rolling timeseries, the easiest solution is to feed for each row the pruned dataframe into the `extract_features` function and do this in a loop until you are through your

[2016-12-18 19:40] earthgecko commented on #119
:+1:  and stateless for this iteration at least, seeing as this stateless iteration seems quite popular at the moment.  It may be interesting to see what all those stars and forks can do with stateless for this iteration of tsfresh at least.  After all, timeseries need a bit of time ;)

[2016-12-18 19:42] nils-braun commented on #107
@MaxBenChrist Any news on that? Still problems?

[2016-12-18 19:43] MaxBenChrist commented on #107
I did not occur again and I did not had the time to reproduce it

[2016-12-18 19:43] MaxBenChrist commented on #107
Should be fine with our parallel extraction

[2016-12-18 19:44] #107 closed

[2016-12-18 19:45] sfragosorodrig commented on #120
Hey @earthgecko and @nils-braun,

thanks for your replies. Currently, I am doing exactly what @nils-braun said. But this demonstrated to be very slow...so I though there had to exist a smarter way..apparently not, that's a shame. You don't see this as a major drawback?

I also didn't manage to get the parallel implementation to work (but that's for another issue I guess)..

Thanks for your time!

[2016-12-18 19:48] #120 closed

[2016-12-18 19:49] nils-braun commented on #120
Well, the problem is that most of our features can not be cached easily and can change quite a bit when a new row is added (there are "easy" things like the sum or the mean, more complex things like peak finding, and things where it may get hard like features calculated using different FFTs etc). We do know that this is a major feature - but in the moment I personally o not see how this will end u

[2016-12-19 07:45] GillesVandewiele commented on #111
The cool thing about shapelets is that they learn this leaf profile. They search for a subserie in the timeserie that best distinguishes one certain leaf class from all other classes.

I could indeed help with the implementation, but I could use some help as well. First off, my code is far from very clean (I never really written clean code in my life before). Moreover, many possible optimization t

[2016-12-19 17:07] MaxBenChrist opened #122 "Add reasonable feature extraction settings"
The current build is failing because earthgeckko's snapshot can not find the entropy features whose calculation was removed in 8a586ee1d11ffa7524f3b0d223552dbf197c0e74

to mitigate this we could offer three extraction objects

1.    FeatureExtractionSettings => all features
2.   ReasonableFeatureExtractionSettings => faster, calculates all but highly complex features. all features without attribut

[2016-12-19 17:19] nils-braun opened #123 "Impute takes quite some time"
If we want to be faster, we probably also have to make sure the "impute" function is not that slow...

[2016-12-19 17:25] MaxBenChrist commented on #123
Good point!

[2016-12-19 17:28] MaxBenChrist commented on #119
Updated the plan @nils-braun and @jneuff.

[2016-12-20 08:18] earthgecko commented on #111
@GillesVandewiele well I will definitely be having a play around with Shapelet extraction myself whether around tsfresh or standalone, but probably not until next year now, so until then :)

[2016-12-20 12:32] GillesVandewiele commented on #111
You can definitely start from my kaggle code base for this, many possible optimizations are left (pruning techniques). Would be nice to see an evaluation on the leaf classification dataset? How much could you increase your predictive performance by incorporating shapelet features? Something I would like to investigate, but it is yet impossible given the computational complexity of my current code

[2016-12-20 13:39] jneuff opened #125 "Structure and clean up our tests"
Currently our tests are not very well structured and often it is not at all clear, what we are testing with which function. We can improve on that!

[2016-12-22 11:42] MaxBenChrist commented on #125
We will have a Hackaton in January where we tackle this issue

[2016-12-22 11:46] MaxBenChrist commented on #111
At the moment we have some other, internal challenges to face, see #119.

As soon as we solved them, we will discuss the possibility of stateful feature calculators. Shapelets seem like a good choice for a future feature calculotrs.

[2016-12-22 21:00] kempa-liehr opened #129 "Explain the interpretation of the DriftBif time series"
See discussion in https://github.com/blue-yonder/tsfresh/pull/127

[2016-12-23 17:19] MaxBenChrist commented on #129
while we are on it, we could rename the varibles `n, l, m` to `n_ids, length_ts, n_kind` to make them more clear. Also the file could be made PEP 8 compatible (e.g. 2 blank lines between methods). Last thing can be achieved by pycharms reformat code.

[2016-12-23 20:35] kempa-liehr commented on #129
Copy that. :-)

[2016-12-24 10:58] MaxBenChrist commented on #129
:+1:

[2016-12-25 14:51] marta-em opened #130 "'MinimalFeatureExtractionSettings' has no attribute 'n_processes'"
I'm trying to extract features using tsfresh package and extract_features() function. I'm trying to set `MinimalFeatureExtractionSettings` .

tsfresh Version: 0.4.0.post0.dev1+ng19fa136

However, I get the following error:

`AttributeError:` type object 'MinimalFeatureExtractionSettings' has no attribute 'n_processes'`

Code:
[code]

I'm using Python 3.5 (Anaconda) on Win10.

Any ideas how to solv

[2016-12-25 15:53] earthgecko commented on #130
Hi @marta-em

This may not be what you desire but it works, remove the parallelization and define settings from ```MinimalFeatureExtractionSettings()```

[code]

[2016-12-25 16:01] MaxBenChrist commented on #130
Merry xmas!

You have to initialize the MinimalFeatureExtractionSettings object. In your example the parentheses are missing.

[2016-12-25 16:01] marta-em commented on #130
That solved the issue. Thanks.

Also, it should be mentioned in the documentation because the current example given on the website doesn't work. It's confusing.
http://tsfresh.readthedocs.io/en/latest/api/tsfresh.feature_extraction.html

[2016-12-25 16:02] MaxBenChrist commented on #130
Which one?

[2016-12-25 16:04] marta-em commented on #130
Description of this:
`class tsfresh.feature_extraction.settings.ReasonableFeatureExtractionSettings`

[code]

Overall, great package :)

[2016-12-25 16:06] MaxBenChrist commented on #130
If you want you can correct this and submit a pr.

Thanks :)

[2016-12-25 16:06] MaxBenChrist commented on #130
@earthgecko you were on the right track ;)

[2016-12-25 16:16] earthgecko commented on #130
@MaxBenChrist oh that is good, Merry xmas :)

[2016-12-26 08:02] #130 closed

[2016-12-26 12:37] nils-braun commented on #88
The progress bar for future extraction is now includes. I will include another one for feature selection soon.

[2017-01-03 16:52] MaxBenChrist commented on #119
We had a maintainer meeting today and restructured a lot of stuff internaly, see https://github.com/blue-yonder/tsfresh/pull/133

for example we ditched both the featureextraction as well as the featureselection settings objects

[2017-01-03 22:15] kempa-liehr opened #134 "add mean_change_quantiles"
The idea of mean_abs_change_quantiles had been derived from discussion on the `driftbif_simulation` example and modelling the time series as Langevin equation as explained by [Siegert el al. (1998): _Analysis of data sets of stochastic systems_](http://dx.doi.org/10.1016/S0375-9601(98)00283-7).

Therefore, not the mean absolute change per quantile, but its mean change per quantile is relevant.

[2017-01-04 15:02] MaxBenChrist commented on #134
Also, we could investigate if it makes sense to make an "apply" feature out of this to only calculate     `div = np.abs(np.diff(x))` once

[2017-01-04 15:03] MaxBenChrist commented on #134
At the moment we are completely restructuring tsfresh internally, afterwards we can implement this issue easily :)

[2017-01-04 16:11] F-A commented on #123
Hi all,

I think one of the problem is tha youare iterating through the columns of the dataframe. When you have a lot of ime series and extract a lot of features you get a huge number of columns and this iteration takes a lot of time...

For example, using the tsfresh.utilities.dataframe_functions.get_range_values_per_column function on a dataframe with 200 columns and 60 indeces I get an executio

[2017-01-04 16:26] jneuff commented on #123
Nice investigation! Are you planning to cover all cases with your function? Can you open a pull request with your proposal?

[2017-01-04 16:35] F-A commented on #123
To be honest I'm not sure how much time I can spend on this... I just planned to try out tsfresh to classify EEG trials but the impute function was to slow for me, so I looked at the function and just wanted to document my investigation.
I'm currently looking at the impute function, to see if one can do something similar.
Depending on how far I come, and if my function make through the unit tests

[2017-01-05 20:02] MaxBenChrist commented on #123
@F-A have you tried to install the latest master version? It will impute early on, after each feature is calculated. That should speed up the calculation further.

[2017-01-05 20:05] MaxBenChrist commented on #123
What kind of errors?

[2017-01-05 20:06] MaxBenChrist commented on #123
I like your implementation of `def get_range_values_per_column(df):` very much. We should switch ours with yours

[2017-01-05 20:27] F-A commented on #123
I also reimplemented impute. They now both pass the unit tests. I'll do the
PR tomorrow.
It now rum far faster. I'll give more details tomorrow when I'm back in the
office.

On 5 Jan 2017 9:06 p.m., "Maximilian Christ" <notifications@github.com>
wrote:

[2017-01-05 20:46] MaxBenChrist commented on #123
Awesome. Looking forward to  your pr :)

[2017-01-06 16:08] MaxBenChrist opened #136 "Imputing is not working"
I have a dataset where the impute function is not properly working, the resulting feature matrix contains np.NaNs

[2017-01-06 16:22] MaxBenChrist commented on #136
[code]

gives
In [8]: ts.isnull().sum().sum()
Out[8]: 64
[code]

[2017-01-06 16:34] MaxBenChrist commented on #136
okay, I think that was the perfect justification for our decision to kick out the settings objects.

The problem was that line
[code]

it should be
[code]

[2017-01-06 16:34] #136 closed

[2017-01-06 16:37] MaxBenChrist commented on #136
If the impute method have been an argument of the extract function, I would have been warned about writing it wrong.

[2017-01-07 05:59] AMilkov opened #137 "No features even with fdr_level=0.99"
For some reason no features are significant enough.

Here is the notebook export.
[tsfresh.zip](https://github.com/blue-yonder/tsfresh/files/691293/tsfresh.zip)

Part of the feature significance test:
[test_feature_significance.zip](https://github.com/blue-yonder/tsfresh/files/691295/test_feature_significance.zip)

Is it normal workflow to assume that all the features are binary and write report w

[2017-01-07 09:50] MaxBenChrist commented on #137
Is your index right? You do something like `ind = df[df.id.isin(ids)].index.get_values()` to extract a label based index and then `df.iloc[ind, :]`. That should be `df.loc[ind, :]`, shouldn't it? Not sure if this is the reason here.

What you can do is to extract all features and then do a filtering from sklearn http://scikit-learn.org/stable/modules/feature_selection.html.

Also if you look at th

[2017-01-07 09:51] MaxBenChrist commented on #137
What kind of data is this?

[2017-01-08 06:29] AMilkov commented on #137
@MaxBenChrist

The data is from this competition: https://www.kaggle.com/c/two-sigma-financial-modeling/data

I was thinking that the best possible validation for new feature extraction tool will be to show it's usefulness in a Kaggle competition.

In this case (since the DataFrame index is numerical and is single level) there is no difference between `df.iloc[ind, :]` and `df.loc[ind, :]` - the u

[2017-01-08 08:52] MaxBenChrist commented on #137
We had the same idea and I also wanted to look into that competition. Have you tried to turn off the filtering and use one of the sklearn methods instead?

[2017-01-08 09:36] MaxBenChrist commented on #137
@AMilkov : I just had another look at your notebook. You are fitering the features for only 3 ids `ids = [10, 11, 12]`. then it is clear why the filtering procedure is rejecting. Our developed filtering method needs at least 30-40 samples to work properly.

It is a method that is based on statistical methods that control the false extraction rate. If you do not have enough samples the probabilitie

[2017-01-08 09:38] MaxBenChrist commented on #137
I am closing this, if the filtering procedure is still not selecting features for 30-50+ samples, please reopen that issue.

Otherwise good luck with your kaggle endeavors :)

[2017-01-08 09:38] #137 closed

[2017-01-10 05:10] AMilkov commented on #137
@MaxBenChrist
I did the same significant feature selection against 30 IDs and after 1h22m the result was the same - not even single feature was selected.
I am not sure if this is a bug or intended , so it is up to you to investigate it or not.

So far I do not have comparison against sklearn feature selection algorithms, but will keep you informed once I have that.

[2017-01-10 15:21] MaxBenChrist commented on #137
Okay, if you find that other feature selection algorithms are selecting features I will look into this problem!

[2017-01-10 15:22] MaxBenChrist commented on #137
You mentioned 1h22m to process 25% of the data, you can try to reduce that time with ReasonableFeatureExtraction Settings.

[2017-01-11 04:33] ClimbsRocks commented on #111
Would love to see some shapelets in here eventually! But I'm happy to see the team able to make prioritization decisions and maintain focus- that bodes well for the health of this project long-term.

[2017-01-11 04:35] ClimbsRocks opened #141 "Thanks for all the improvements!"
I submitted a few tickets after trying to use this my first time or two. Coming back to it now after a month or so away from the project, the user experience as a new user is MUCH better. Just wanted to say thanks for all the work you've done so far, and the work I see you're continuing to do in different branches.

[2017-01-11 04:48] ClimbsRocks opened #142 "Future Improvement: The transforms covered in The Great Time Series Classification BakeOff"
There was an interesting paper last year which compared a bunch of newly published time series classifiers.

http://www-bcf.usc.edu/~liu32/milets16/paper/MiLeTS_2016_paper_5.pdf

In a wild oversimplification, several of the classifiers simply transform the data in a new way, then run pretty standard time series classification algorithms on the transformed data.

It would be awesome if tsfresh coul

[2017-01-11 04:48] #141 closed

[2017-01-11 09:27] MaxBenChrist commented on #141
Thanks for the kind words. :)

[2017-01-11 19:37] earthgecko commented on #142
@ClimbsRocks the terrible time complexity of current implementations with timeseries is part of the appeal surely ;)  Is that not why we are interested?  Really it could all be better with timeseries couldn't it?  Bizarre that one of the most basic data sets we have is what machine learning is really arguably least good with :)  Maybe we are making too complex?  However tsfresh does make one aspec

[2017-01-11 19:38] earthgecko commented on #141
Seconded ;)

[2017-01-11 21:32] nils-braun commented on #122
This was implemented and will be refined in the next major version.

[2017-01-11 21:32] #122 closed

[2017-01-11 21:33] nils-braun commented on #61
Will be fixed with #133 - so in the next version.

[2017-01-16 10:48] GillesVandewiele commented on #142
#111 is definitely a sub-issue of this ;)

[2017-01-18 03:28] ClimbsRocks commented on #142
Yeah, that website is a really impressive gathering of experiments and results. If I weren't working in systems that assumed Python usage, I'd probably be copy/pasting a lot of their code right now.

[2017-01-24 22:48] bobchennan opened #147 "Warning while feature selection"
No handlers could be found for logger "tsfresh.feature_selection.feature_selector"

Does it matters?

[2017-01-25 01:26] tdeboissiere opened #148 "Improving the speed of some feature calculators"
I have identified 4 feature calculators for which I could rewrite a faster implementation (cf. gif)

https://gist.github.com/tdeboissiere/def451b1e5e56c1fd8c8c133d7ffa8dc

I got speedups greater than 2 in most cases and as high as 20 for some dataframe configuration.
I don't know if my implementation is compatible with tsfresh' internals but if it is, I'll create a PR for that.

[2017-01-25 09:21] MaxBenChrist commented on #147
It is fine, you have to [configure a logger](http://excid3.com/blog/no-handlers-could-be-found-for-logger)

[2017-01-25 09:22] MaxBenChrist commented on #148
Looks good! Looking forward to the pr

[2017-01-28 13:51] ddofer commented on #142
This is a really useful resource!

[2017-01-29 12:42] MaxBenChrist commented on #147
Maybe we can consider to call

[code]

somewhere in our scripts if the user does not specify a logging handler.

[2017-01-29 18:39] bobchennan commented on #147
Yes, since it is not mentioned in the document.

[2017-01-31 15:35] #148 closed

[2017-02-14 20:28] matus-tomlein opened #153 "Choosing which features to calculate in settings"
I have the following case:

1. I extract features from a training dataset
2. I filter the extracted features
3. I want to extract the same kinds of features as were filtered in step 2 from the test dataset

So far, I haven't been able to figure out how to make tsfresh calculate only specific features based on their keys. I can extract all features in step 3 and then filter them so that they only c

[2017-02-14 20:39] MaxBenChrist commented on #153
Hi @matus-tomlein , indeed we have to improve the documentation with respect to this functionality (especially about the `from_colums` method)

You can use the sklearn compatible RelevantFeatureAugmenter http://tsfresh.readthedocs.io/en/latest/text/sklearn_transformers.html. After fitting it, it will only extract features that are relevant and thus prevent uncessary calculations.

[2017-02-14 20:44] mrocklin commented on #10
Just came across this.  If there are particular incompatibilities between Dask.dataframes and Pandas dataframes that affect this project please let us know.

Also, it may be that the right approach isn't to use dask.dataframe directly, but instead use it to pre-process data and then apply tsfresh functions over it.  For example it would be easy to use dask.dataframe to load large datasets, share a

[2017-02-15 02:30] matus-tomlein commented on #153
Thanks, that's useful!

Maybe I'm missing something, but is the pipeline approach also applicable in case I am classifying data not present in the dataset that I originally fitted the RelevantFeatureAugmenter with?
What I mean is a workflow like:

1. I have a dataset of pre-collected sensor values that I used to find the relevant features
2. Later I receive new data from a sensor deployed in the f

[2017-02-15 08:40] MaxBenChrist commented on #153
I'm not sure if that fits a real-time system that continuously receives new data.
Or am I missing something?

I don't understand that paragraph

From what I getting you describe a situation with a train and a test set. For this use case the RelevantFeatureAugmentor was developed

[2017-02-15 08:40] #153 closed

[2017-02-15 08:44] MaxBenChrist commented on #153
If you are not familiar with sklearn pipelines, you can look up the sklearn documentation

[2017-02-15 09:16] MaxBenChrist commented on #10
@mrocklin, thank you for your nice message.

At the moment we are working on some other issues (E.g. shaping the tsfresh APi, restructure the test framework, ...). I discussed a possible dask implementation with @chmp (he contributed a few things to the dask project). As soon as this comes up again and we have some spare time to tackle this, I will get in contact with you guys :).

[2017-02-15 18:22] MaxBenChrist commented on #153
A short example

You are developing your pipeline
[code]
Now the pipeline object contains the settings of which features to calculate.

If you now call

[code]
it will avoid uncessary calculations and only calculate those features that were useful for `df_old`

[2017-02-15 18:23] MaxBenChrist commented on #153
Besides those runs, you can save your settings by just pickling the fitted augmentar object

[2017-02-15 18:28] matus-tomlein commented on #153
Thanks!

I was confused because I didn't realize that is possible to call `pipeline.set_params(augmenter__timeseries_container=df)` twice without having to run pipeline.fit() again.
Now it makes sense.

[2017-02-15 18:32] MaxBenChrist commented on #153
No Problem, Happy it helped you :). You could also consider to support us by improving the wording of the documentation or submitting a short notebook that demonstrates how to use the augmenter.

[2017-02-19 02:30] vgoklani opened #157 "fit_transform / transform methods"
Is there a fit_transform / transform method? I would like to fit a model on a particular dataset, and then use those parameters to transform other datasets.

[2017-02-19 10:36] jneuff commented on #157
Yes, we offer sklearn compatible transformers in the tsfresh.transformers module.

[2017-02-19 10:36] #157 closed

[2017-02-19 12:35] nils-braun commented on #157
If you want, you can find some more information on their usage here:
http://tsfresh.readthedocs.io/en/latest/text/sklearn_transformers.html

[2017-03-01 06:57] mgulcin opened #159 "RelevantFeatureAugmenter-evaluate_only_added_features=True does not function as expected"
I have some pre-extracted features and I want to use these features together with features extracted and selected by RelevantFeatureAugmenter.  In order to achieve this I set "evaluate_only_added_features = True" . However after fit and transform, the output features that I've obtained don't contain pre-extracted features.

I tried to use FeatureAugmenter and it works fine. Am I missing something

[2017-03-01 13:44] MaxBenChrist commented on #159
Missing important statements in your snippet:

[code]

You should not add your features to the time series container `df`. So please delete the line
[code]
in your snippet

Otherwise I could reproduce your bug. I will look into that now

[2017-03-01 14:57] MaxBenChrist commented on #147
It is in the master, thanks for reporting it @bobchennan

[2017-03-01 14:57] #147 closed

[2017-03-01 14:58] MaxBenChrist commented on #159
See the pr https://github.com/blue-yonder/tsfresh/pull/160

It should get in the master after review. Then we will have a new version on pypi.

[2017-03-01 14:58] #159 closed

[2017-03-01 15:09] mgulcin commented on #159
Thank you.

[2017-03-02 22:28] jackalack opened #161 "ValueError: X must contain at least two samples."

[2017-03-02 23:11] #161 closed

[2017-03-12 11:22] fkirc opened #162 "Avoid leaking index from training data set as feature, 100% classification accuracy regardless of actual time series"
I try to test tsfresh with a simple binary classification using a k-nearest-neighbor-classifier and k-fold-validation:
I always get a classification accuracy of 100%, regardless of the actual time series.
The reason is that in my input data the first 15 time series are labeled as ``type 1`` and the remaining 15 time series are labeled as ``type 2``, with ascending indices.

The problem is that the

[2017-03-12 13:26] MaxBenChrist commented on #162
I don't understand the problem here?

no feature calculator in tsfresf has access to the `id` column.

(there is a difference between id, which denotes the id of the device, and index, which are the index or time stamps of the tine series)

where does your data originate from?

[2017-03-12 13:55] MaxBenChrist commented on #162
You can also upload an python notebook + data so we can have a look at it

[2017-03-12 13:59] fkirc commented on #162
The garbage feature data originates from the indices of the time series. I have 32 time series with indices from 1 to 32. Each of these series consist of several values and time stamps, which are ignored for the value__index_mass_quantile__q_* features

Only these indices from 1 to 32 are considered.

[2017-03-12 14:13] MaxBenChrist commented on #162
which version of tsfresh are you using?

I checked the code but I could not find a leak: So, the function calculators should not have access to the `id` column if your parameters (`column_id="id", column_sort="time", column_value="value"`) are set correctly.

We can't help you without a minimal example.

[2017-03-12 16:29] fkirc commented on #162
Here is the relevant code, I hope you can spot the leak. The extracted features are literally garbage since they fully depend on the order of the input data samples parsed from the file.
I use version 0.6.0, installed with pip.

File features.py:

[code]

File classifier.py:

[code]

[2017-03-12 16:41] fkirc commented on #162
These are the garbage features extracted by the above code for the 32 time series, as you can see all of them depend on the id:

[2017-03-12 17:00] MaxBenChrist commented on #162
The code snippets are not enough, we need the data as well.

If you want us to help, you will have to provide a minimal notebook + data.

[2017-03-12 17:01] MaxBenChrist commented on #162
I am still not convinced that this originates from tsfresh

[2017-03-12 17:03] MaxBenChrist commented on #162
`X_train, X_test = X.iloc[train_index,], X.iloc[test_index,]`

here you should use `loc` instead of `iloc`

[2017-03-12 17:10] MaxBenChrist commented on #162
Please reopen this issue when you have provided the minimal example

[2017-03-12 18:04] fkirc commented on #162
Alright I created an ipython example and uploaded it to a github repository:

https://github.com/fkirc/tsfresh-time-series-id-leaking-as-features

Actually it should be also accessible on Jupyter Notebook Viewer, but my repository is not visible yet:
http://nbviewer.jupyter.org/github/fkirc/

You can ignore the whole file parsing code, this was just taken out from my project.

[2017-03-12 18:10] fkirc commented on #162
Now the link is working, the example is accessible on Jupyter Notebook Viewer:

http://nbviewer.jupyter.org/github/fkirc/tsfresh-time-series-id-leaking-as-features/blob/master/tsfresh%20index%20leak%20example.ipynb

[2017-03-12 18:52] MaxBenChrist commented on #162
this is not a minimal example. I will have to look though your whole code.

[2017-03-12 18:54] fkirc commented on #162
You can ignore the whole file parsing code, this is just a part extracted from my project. The relevant parts are the k fold validation and the usage of tsfresh itself.

[2017-03-12 18:56] MaxBenChrist commented on #162
a `KNeighborsClassifier` on features does not really makes sense

[2017-03-12 18:56] fkirc commented on #162
Actually you can also ignore the k fold validation, since the problem is just about the extracted features which are dependant on the id's

[2017-03-12 18:58] fkirc commented on #162
Ok I might change this once the feature extraction works :)

[2017-03-12 20:10] fkirc commented on #162
I always see these features containing ``__index_``, I am sure there must be an easy way to prevent this, since it is clearly wrong to use the order of the input time series as feature. (since the index is nothing else than an ascending number assigned by my pandas dataframe creation code for each time series)

Either it is a major issue, or I just overlook something more obvious.

I will try to d

[2017-03-12 20:35] fkirc commented on #162
Do you have some useful example code on how to do multi class classification based on the features selected by tsfresh?

Even the presence of these index based features appears really weird. A classic machine learning pitfall of leaking unintended information to the extracted features.

My sample data set deliberately has only two target labels with exactly the same time series, nevertheless I can

[2017-03-12 20:38] MaxBenChrist commented on #162
my comment about

[code]

is wrong, the cross validation returns numerical indeces, so `iloc` is the way to go.

The id is not leaking, so this is not a bug in tsfresh.

It is just the dynamics of your time series. (you can for example permute the values of your id column or add a constant to it without changing the values of the feature matrix). It is a strange coincidence but the feature matrix

[2017-03-12 20:38] #162 closed

[2017-03-12 20:41] MaxBenChrist commented on #162
Maybe you look for some examples in sklearn. The extracted feature matrix has the right format to use them (see maybe http://scikit-learn.org/stable/modules/multiclass.html)

Nope. There is a difference between `id` and index. No feature has access to the `id`

[2017-03-12 20:43] MaxBenChrist commented on #162
can you explain how this issue related to #54? you are using tsfresh for classification, right?

[2017-03-12 21:05] fkirc commented on #162
Yes, it may be related if the forecasting task is to predict one outcome out of fixed number of predefined outcomes.

Really strange, but I can confirm it after adding an offset of 100 to all time series id's...
Thank you for your help, I will try to improve on that.

So the id gets assigned to each time stamp-value-pair to mark time series (a time series is a sequence of time stamps and values in

[2017-03-13 02:26] RylandCapital opened #164 "using TSfresh feature expansion"
I have a financial time series matrix with Open High Low Close columns.
I was under the impression, for example, that you could use TSFresh to take the given features (aka Open High Low Close) and have it automatically create many more feature columns based on the original 4.

From my experience it looks like TSFresh is taking each feature column and returning 1 value per 'id' per period. With a f

[2017-03-13 05:52] MaxBenChrist commented on #162
Id denotes the different devices or samples, see http://tsfresh.readthedocs.io/en/v0.6.0/text/quick_start.html

So every sample=device has one class label and can Associated with multiple time series.

[2017-03-13 05:55] MaxBenChrist commented on #162
You can also have a look in our paper:

Christ, M., Kempa-Liehr, A.W. and Feindt, M. (2016).
Distributed and parallel time series feature extraction for industrial big data applications.
ArXiv e-print 1610.07717, https://arxiv.org/abs/1610.07717.

in section 2 we explain this setup

[2017-03-13 06:43] MaxBenChrist commented on #164
Hi ryland,

There is actually an id in those financial time series, it is the day/asset combination.

The use case that you describe can be tackled by  Tsfresh. You will have to stack your dataframe to make it fit tsfreshs API.

However, even though you can calculate the features for the open high low close, i think does not make much sense from a machine learning point of view: normally time seri

[2017-03-13 06:43] #164 closed

[2017-03-14 15:42] MaxBenChrist opened #165 "Merge fail when Index has same Name as ID column"
I was stumbling over a Bug when the Index of the pandas.DataFrame time series container had the same name as the ID column.

I will try to reproduce the bug and to find a minimal example.

[2017-03-14 17:07] zwu52 opened #166 "Paralleling Feature Extraction"
Thanks for developing such a nice library. I could see many fields can be benefited. So I notice the extraction takes fowever when I have hundreds of objects with thousands of channels of time seires. I was wondering if you guys were thinking about parallizing the feature extraction processes or are the algrorithms not paralleizbale? It would be nice to extract large scale features using people's

[2017-03-15 00:31] speculati0n opened #167 "tsfresh for stock data"
I just recently converted AAPL stock features such as RSI and some Moving averages over a 10 year daily period into a stacked DataFrame using the date as the column_id, and the feature name (i.e. RSI, Moving Averages) as the column_kind.  I turned into a stacked dataframe so it would work within TSFresh. (my goal was to create many more features off of the given features (i.e. RSI, Moving Averages

[2017-03-15 05:52] nils-braun commented on #167
You are perfectly right in what TSFresh is doing, so this should be no problem.
What kind of output do you have afterwards? Or can you maybe give us a kind of example (e.g. a Jupyter notebook, can also be fake data, just for the format) so we can play around a bit?

[2017-03-15 06:01] nils-braun commented on #166
Thank you!
Actually the extraction of features is already parallel in the IDs and kinds. As we are relying on different libraries (e.g. numpy, scipy etc) for calculating the extracted features, it is not that easy to ship all this to a GPU. Or do you know an easy possibility to port that code to a GPU?

[2017-03-15 09:29] MaxBenChrist commented on #166
Even if we had the means to port tsfresh to the GPU, this will not speed up all features. (e.g. feature that involves sorting such as the median should stay on the CPU)

[2017-03-15 09:29] #166 closed

[2017-03-15 09:30] MaxBenChrist commented on #166
I closed the issue as we already have a comprehensive parallelization in place

[2017-03-15 09:34] MaxBenChrist commented on #167
I am not sure if you use tsfresh correctly. I think you use it to calculate features (e.g. variance) of another feature (e.g. oving Averages), that is not the intended use.

tsfresh is for the translation (aggregated) time series to features. Try using the asset prices instead of the moving average.

Please have look at the documentation & notebooks and then come back if you have specific question

[2017-03-15 09:35] #123 closed

[2017-03-15 19:37] speculati0n commented on #167
Here is an image of an example of my original AAPL data: Contains Date, Asset's Close, and 10 Period Moving Average

Original:
![image](https://cloud.githubusercontent.com/assets/26420672/23966662/9619317c-0992-11e7-9e87-5d4639c69005.png)

I then stack the data so it looks like this (to work is TSFresh)

Stacked:
![image](https://cloud.githubusercontent.com/assets/26420672/23966806/22af3f96-0993-1

[2017-03-16 02:36] speculati0n opened #168 "AAPL stock data"
Here is an image of an example of my original AAPL data: Contains Date, Asset's Close, and 10 Period Moving Average

Original:
![9619317c-0992-11e7-9e87-5d4639c69005](https://cloud.githubusercontent.com/assets/26420672/23979473/1c4a586a-09d0-11e7-9c6f-dd8c24e33dbe.png)

I then stack the data so it looks like this (to work is TSFresh)

Stacked:
![22af3f96-0993-11e7-88ed-c0cf32fa69f8](https://cloud.

[2017-03-16 06:39] MaxBenChrist commented on #168
what is your column_id when you call tsfresh? the date column?

I am afraid that this does not look like a proper application of tsfresh :-/

[2017-03-16 06:41] MaxBenChrist commented on #168
Most features are boring for a one value time-series, e.g. the abs energy will just be the absolute value of the singular value

[2017-03-16 06:41] #168 closed

[2017-03-16 06:54] nils-braun commented on #168
Reading through your issue and the images, I think what you want to have is the following:

A data frame with the following columns: ID, Date, AAPL Close, MovingAerage. From your starting data frame you would build as many time series, as you have dates, each of them one row longer that the one before. You would give each of these time series a unique ID and stack them together. Then you feed this

[2017-03-16 06:55] nils-braun commented on #168
Please also refer to #86, which is currently open.

[2017-03-16 12:11] MaxBenChrist commented on #86
Maybe we should provide a wrapper for the translation of timestamp, value combinations into rolling window time series.

It is pretty straightforward to implement with http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shift.html applied to a groupby. (http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.core.groupby.DataFrameGroupBy.shift.html)

Afterwards one

[2017-03-16 12:37] MaxBenChrist commented on #86
Lets tackle this, the following code will do the treansformation:

[code]

[2017-03-16 12:38] MaxBenChrist commented on #86
Before

In [21]: df
Out[21]:
     id kind  sort  val
0    10    a     1   11
1    10    a     2    9
2    10    a     3   67
3    10    a     4   45
4   500    a     1   11
5   500    a     2    9
6   500    a     3   67
7   500    a     4   45
8    10    b     1   11
9    10    b     2    9
10   10    b     3   67
11   10    b     4   45
12  500    b     1   11
13  500    b     2    9
14  500

[2017-03-16 12:39] MaxBenChrist commented on #86
I don't hsve the time to do unit test & think about where to put this, @jneuff @moritzgelb or @nils-braun, can one of you add the snippet to a pr?

[2017-03-16 12:47] nils-braun commented on #86
I can tackle this tomorrow or on Saturday :-) If someone is faster, no problem

[2017-03-17 08:33] t2396156 opened #169 "Intel MKL ERROR"
hi~,
      today i update my tsfresh to the lastest version and also other  fundamental package such as numpy, scipy. Then when i run my feature extrect code, it raise error:
Intel MKL ERROR: Parameter 4 was incorrect on entry to DGELSD.
and the program never goes foward until i shut it down manually.
my code ran successful yesterday, and I dont know which part goes wrong.
and here is part of my c

[2017-03-17 09:42] MaxBenChrist commented on #169
I think this orignates from _estimate_friedrich_coefficients (the np.polyfit call in line 1317 in tsfresh/tsfresh/feature_extraction/feature_calculators.py)

Can you provide a minimal example? The data that caused these errors would be of great interest.

[2017-03-17 09:45] MaxBenChrist commented on #169
It seams to follow from NaN or Inf values

(see http://stackoverflow.com/questions/24173301/numpy-polyfit-suppress-printing-of-intel-mkl-error-message)

In the friedrich oefficients

[code]
we maybe add a check if `result.x_mean` and `result.y_mean` are finite

[2017-03-17 11:02] t2396156 commented on #169
@MaxBenChrist
ok, can you give me your email, then i can send my dataset and code.

[2017-03-17 11:04] MaxBenChrist commented on #169
I wont have time until 26 of march, maybe you upload it?

we only need that time series that caused this error, not all.

[2017-03-17 11:21] MaxBenChrist commented on #169
Uploading to a repository is perfect, but you will have to boil the issue down to a subset of your data.
(Just start with 10 time series, run your script, check if error occurs, if not take the next 10 time series, so time series 11-20 untile you find it)

Thanks.

[2017-03-17 11:22] t2396156 commented on #169
@MaxBenChrist
i'v upload my data in my repo, u can get my data here:
[https://github.com/t2396156/tsfresh_data](url)

[2017-03-17 11:33] t2396156 commented on #169
@MaxBenChrist
and i run the code on my another dataset, it program raise no error
but it seems going to run forever if i dont shut it down.

[2017-03-17 11:43] MaxBenChrist commented on #169
How big is the data set (length time series, number of ids)?

Do you see movements of the status bar?

[2017-03-17 11:50] t2396156 commented on #169
i have nearly 9000 series whith total length of 1.6million point, the status bar stays zero all the time.

[2017-03-17 13:38] t2396156 commented on #169
i meet another problem, i run the same code in different environments and the result are very different.
This three environments are all in my windows PC.
the code runs well in ipython and i get my feature.
![image](https://cloud.githubusercontent.com/assets/12410347/24045371/d51743fa-0b59-11e7-91b4-ae5a50fbb3f1.png)

it stop here when run in python shell
![image](https://cloud.githubusercontent.c

[2017-03-17 13:55] MaxBenChrist commented on #169
I do not have access to any windows machine...

[2017-03-18 11:09] nils-braun commented on #86
Ok, I have started a branch and working on this. Still needs some documentation, but will be ready to go on this weekend!

[2017-03-25 14:02] MaxBenChrist commented on #169
This issue is reproduced by time series of type a and id 86 of the robot actitivity dataset.

I will submit a pr in a bit

[2017-03-25 14:10] MaxBenChrist commented on #169
see pr 171

[2017-03-25 14:47] MaxBenChrist commented on #165
I reproduced it by adding the following cell to the robot_failure_notebook

[code]

[2017-03-25 17:14] MaxBenChrist opened #174 "Improve documentation + provide notebook for rolling mechanism"
the rolling mechanism may be hard to understand.

We could provide a notebook with examples + better documentation

[2017-03-26 17:47] MaxBenChrist commented on #174
An explanation similar to

If I find time during the next days, I am ghttps://www.mathworks.com/help/econ/rolling-window-estimation-of-state-space-models.html

would be good

[2017-03-26 17:51] MaxBenChrist commented on #88
@moritzgelb implemented this in #152

[2017-03-26 17:51] #88 closed

[2017-03-29 04:03] MoffyJiang opened #175 "problem in calculating index_mass"
Hi, our company is trying to apply tsfresh on our credit scoring models for time series data but one problems came up.  During calculating index_mass, np.argmax(mass_centralized >= config["q"])+1) is trying to get the index of a time series for a single sample when the cumsum of this feature is greater than given quantile. however, the results is not a 'relative' index within a time series data fo

[2017-03-29 07:04] MaxBenChrist commented on #175
Hi @MoffyJiang

may I ask why you closed this issue?

I think the point that you mentioned is valid. I will investigate this.

[2017-03-29 07:13] MoffyJiang commented on #175
Hi sorry I saw #162 and I thought it was the same issue as mine. But after I read it carefully I found that was about id not index....sorry

[2017-03-29 07:13] MaxBenChrist commented on #175
I now how to fix this. We can just call `.value` before `np.argmax`

Thanks for reporting, I will add a pr later.

[2017-03-29 07:15] MoffyJiang commented on #175
ah yes! thanks for your help!

[2017-03-29 07:28] MaxBenChrist commented on #175
#162 was about the id column but the behavior is caused by the index

[2017-03-29 08:31] MaxBenChrist commented on #162
This issue is probably related to #175

[2017-03-29 09:43] MaxBenChrist commented on #162
This is related to #175

[2017-03-29 10:26] #169 closed

[2017-03-29 11:06] MaxBenChrist opened #177 "Add maximum_number_of_timeshifts parameter to roll_time_series"
Add maximum_number_of_timeshifts parameter to roll_time_series method instead of calculating the max lag

https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/utilities/dataframe_functions.py#L414-L4120

I fear the current version explodes on long time series

[2017-03-29 11:06] #165 closed

[2017-03-29 11:57] MaxBenChrist commented on #175
Please check if your problems also occur with version 0.7.0, if they do reopen this issue.

again, thanks for reporting this one

[2017-03-29 11:57] #175 closed

[2017-03-29 11:58] MaxBenChrist commented on #162
version 0.7.0 should solve this one as well @fkirc

[2017-03-29 11:58] MaxBenChrist commented on #169
Please check if your problems also occur with version 0.7.0, if they do reopen this issue.

[2017-03-29 11:59] MoffyJiang commented on #175
thanks for your help!

[2017-03-29 12:09] MaxBenChrist opened #178 "Fix imputing on chunks in for sample parallelization"
I think the imputing on chunks in

https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_extraction/extraction.py#L245-L247

is not correct for imputing functions that use the values of the whole columns (e.g. imputing of -INF by min of column).

[2017-03-29 12:13] MaxBenChrist opened #179 "Discuss/refactor baseline tests"
I am not sure if this unit test is that beneficial to us anymore as we check the values of the feature calculators individually.

[2017-03-29 12:18] MaxBenChrist commented on #179
I would be in favor of removing them completely

[2017-03-29 13:02] fkirc commented on #162
Thank you I think this has fixed the issue

[2017-03-29 14:50] nils-braun commented on #179
Well, I wasn't in favor of the test from the beginning, but I thought the idea would be to have some sort of "real world" test with a full dataset?

[2017-03-29 14:57] MaxBenChrist commented on #179
Are you citing me? ;) Okay, then lets ditch it

[2017-04-01 06:50] devautor opened #183 "settings_new.from_columns not sticking strictly to given feature names"
I am trying to extract _strictly the same features for test data which tsfresh has selected from extracted ones for training data_. I have this as code: ``` settings_new.from_columns(trained_features)``` [learnt from [here]](https://github.com/blue-yonder/tsfresh/issues/22)
Code snippet:
[code]
**Problem:** My test features count to 5328, same for X, and not X_filtered which is 1045.
Perhaps, all

[2017-04-01 06:53] MaxBenChrist commented on #183
Hi @devautor,

You have to replace

`settings_new.from_columns(trained_features)`

with

`settings_new = settings_new.from_columns(trained_features)`

[2017-04-01 06:55] MaxBenChrist commented on #183
I corrected the other snippet as well, thanks for reporting that.

If your problems persist, please reopen this issue

[2017-04-01 06:55] #183 closed

[2017-04-01 06:59] MaxBenChrist commented on #179
I just merged pr #180 and removed the baseline tests

[2017-04-01 06:59] #179 closed

[2017-04-01 21:20] nils-braun commented on #86
This should now be possible in the HEAD version :-)
Still needs an example notebook, but you can already read it here:
http://tsfresh.readthedocs.io/en/latest/text/rolling.html

[2017-04-01 21:21] nils-braun commented on #86
I leave this issue open, as we may implement a more efficient solution later

[2017-04-02 10:50] #178 closed

[2017-04-02 10:52] MaxBenChrist commented on #102
I think it is quite clear with the feature calculation section of our docs

[2017-04-02 10:52] #102 closed

[2017-04-02 15:41] ShahuN-107 opened #185 "Missing __name__ = '__main__' guard for Multiprocessing on windows"
Hi All,
I've got the following problem:

1. Windows 7: Ultimate
2. tsfresh==0.7.0
3. The data on which the problem occurred: CV_50_100.csv
(have many more similar, but just uploading one)
[CV_50_100.zip](https://github.com/blue-yonder/tsfresh/files/888449/CV_50_100.zip)
4.
[code]

Also breaks with:
[code]
I've spoken to @ MaxBenChrist on Gitter, he suggested opening this.

Edit: Typo in tsfresh ve

[2017-04-02 15:42] ShahuN-107 commented on #185
As it's a very long error, I decided to post it in a separate comment (so you can delete it if not needed):

[2017-04-02 19:46] nils-braun commented on #74
Some hints on how to find those functions (and already many fixes) are in #186

[2017-04-02 21:09] MaxBenChrist commented on #185
This looks like a windows error related to the parallelization. can you try to run the same snippet on a linux or mac os machine?

[2017-04-02 21:15] MaxBenChrist commented on #185
Your first snippet is causing error because tsfresh thinks that the time stamp column is a time series columns and is expecting floats instead of time stamps.

However the second one is passing.

[2017-04-02 21:16] MaxBenChrist commented on #185
I don't know if @jneuff or @nils-braun have a windows machine at their hand but I doubt it :D :D

[2017-04-03 05:50] ShahuN-107 commented on #185
I have tried this on a Windows 10 machine with the same results.

Thanks in advance,
Shaun

[2017-04-03 05:50] ShahuN-107 commented on #185
I have tried this on a Windows 10 machine with the same results.

Thanks in advance,
Shaun

[2017-04-03 11:50] MaxBenChrist opened #187 "The impute method does not work properly on np.float64 or np.int64"
It returns the same DataFrame. Casting it as `np.float32` seem to resolve this

[2017-04-03 12:08] MaxBenChrist commented on #187
Can be reproduced by

[code]

[2017-04-03 13:26] MaxBenChrist commented on #187
Well, the bug occurs in

https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/utilities/dataframe_functions.py#L153

[code]

[2017-04-04 15:16] ClimbsRocks commented on #86
This is awesome! Thanks for the great work on this, team. You've now allowed me to use tsfresh with an entire new class of projects.

[2017-04-05 04:30] MaxBenChrist commented on #187
so, I boiled this down to

[code]

which gives me

[code]

[2017-04-05 04:33] MaxBenChrist commented on #187
So, `iloc` seem to do the job.

[2017-04-05 08:39] #177 closed

[2017-04-05 08:46] nils-braun commented on #187
Just to clarify for later reference: the problem is the `.values` function, which (according to the documentation):

So in case of mixed dtypes (which you have created, as you start with int64 and add np.NaN (which is float64) to two columns only, converting them to float64 but not the third column), you only get a *copy* of the numpy values. Changing them does not change the underlying data set.

[2017-04-05 17:19] MaxBenChrist commented on #187
Yes, I came to the same conclusion. The underlying problem is that the `.astype` is not operating inplace.

[2017-04-05 17:41] #187 closed

[2017-04-05 17:41] MaxBenChrist commented on #187
solved by pr #189

[2017-04-05 17:44] MaxBenChrist opened #190 "speed up number_peaks feature by preventing unnecessary calculations"
This is from the review of pr #186. There is potential in speeding up this feature by preventing unnecessary or doubled comparisons

[2017-04-05 20:58] moritzgelb commented on #185
Hi @ShahuN-107,

finally I succeeded in setting up a windows environment. :D

The solution for your problem seems rather simple as explained [here](http://stackoverflow.com/questions/18204782/runtimeerror-on-windows-trying-python-multiprocessing).
Just change your script to:

[code]

Nevertheless, there is a failure when converting string to float, but this is not related to this issue.

Cheers,
M

[2017-04-06 09:19] xhochy commented on #187
The problem here seems to be related to mixed-dtype DataFrames not having a single backing NumPy array. In this case `.values` returns a copy of the DataFrame with the most common dtype. If the DataFrame is of a single dtype, then all columns are backed by a single Matrix. This matrix is then returned as the result of `.values`. Only in the latter case, modifications to the matrix returned by `.va

[2017-04-06 12:36] MaxBenChrist commented on #185
Thanks @moritzgelb, so you are now the tsfresh expert for windows? :D

[2017-04-06 12:37] MaxBenChrist commented on #187
Thanks for the explanation, uwe.

[2017-04-06 12:45] moritzgelb commented on #185
Yes, seems so. :D

[2017-04-06 12:47] MaxBenChrist commented on #185
I think we should fix that globally:

See those threads

http://stackoverflow.com/questions/29690091/python2-7-exception-the-freeze-support-line-can-be-omitted-if-the-program

http://stackoverflow.com/questions/39468658/figure-out-if-called-from-function-without-main-guard

So, the multiprocessing library is spawning infinite child processes in a loop in windows. We should be able to catch that wi

[2017-04-06 19:32] moritzgelb commented on #185
@MaxBenChrist

I'm not sure if we should take care of this. As stated in the links you quoted, the multiprocessing failure on window can be avoided by using ```if __name__ == '__main__'``` in the script importing the tsfresh functions.

[2017-04-06 22:42] MaxBenChrist commented on #185
But, I think the user experience suffers if one has to wrap the tsfresh calls by the `if __name__ == '__main__'` guard. We should try to do it internally in tsfresh

[2017-04-07 21:29] nils-braun commented on #185
I totally agree Max, that the user experience suffers, but as far as I have understood it is just technically not possible to do this on the library level. The script that *calls* `extract` must handle this - but this script is written by the user and not us.

[2017-04-09 01:38] devautor opened #192 "do_not_calculate() takes exactly 3 arguments (2 given)"
do_not_calculate() doesn't work like mentioned in the doc [here](http://tsfresh.readthedocs.io/en/latest/api/tsfresh.feature_extraction.html#tsfresh.feature_extraction.settings.FeatureExtractionSettings):
Code:
[code]

Also, from the source-code:

**What are these two parameters? What does type of time series mean?**
Version: tsfresh(0.7.0)

[2017-04-10 15:12] MaxBenChrist commented on #192
Kind is the type of the time series and identifier is the name of the feature, in this case length

[2017-04-10 15:12] #192 closed

[2017-04-10 15:14] MaxBenChrist commented on #192
http://tsfresh.readthedocs.io/en/latest/text/data_formats.html

[2017-04-10 15:19] MaxBenChrist commented on #192
The Linke contains a detailed description of the data formats and the kind column

[2017-04-15 11:21] LoganCarvalho opened #193 "Feature Extraction: 0%| | 0/6 [00:00<?, ?it/s] Takes Forever and it never ends"
Hello everyone,
I'm facing what a believe is an issue.

1. I'm using OS X El Capitan 10.11.6
2. I'm on the latest version of TFRESH since I just (April, 13, 2017) installed it via pip
3. It happened with me yesterday (April, 14, 2017). The dataset I'm using looks like this:
Date,Close
27.03.2017 00:00:00,1.08452
...
4. The entire code I'm trying to run is the following one:
`import pandas as pd`
`

[2017-04-15 11:32] moritzgelb commented on #185
@MaxBenChrist
I suggest to close this issue, since the user should take care of this, as pointed out by nils.

[2017-04-15 15:20] moritzgelb commented on #193
Hi,

it seems to me that you didn't use the ```column_id``` argument correctly.
Please take a look at the [documentation]( http://tsfresh.readthedocs.io/en/latest/text/data_formats.html).

Cheers,
Moritz

[2017-04-15 15:45] nils-braun commented on #193
The Date column is probably the sort column in your case. The ID should be a number, that distinguishes different time series.

[2017-04-17 15:34] MaxBenChrist commented on #185
Okay, I understand that a name == __main__ guard look needs to be placed in the top level script. So the user has to add it.

Maybe we can inspect the trace inside extract features to prevent a flood of jobs to spawn? I will read into that

[2017-04-18 06:30] #193 closed

[2017-04-19 08:43] junajo10 opened #194 "Problem raise ValueError("Index of X must be a subset of y's index")"
Hello,

My dataframe is like:(df.head())
	open	high	          low	close	volume	           id	                       time
0	1.06335	1.06335	1.06335	1.06335	4000000.0	2017-01-20	2017-01-20 12:54:59
1	1.06335	1.06335	1.06335	1.06335	4000000.0	2017-01-20	2017-01-20 12:54:58
2	1.06335	1.06335	1.06335	1.06335	4000000.0	2017-01-20	2017-01-20 12:54:57
3	1.06335	1.06335	1.06335	1.06335	4000000.0	2017-01-20

[2017-04-19 09:11] nils-braun commented on #194
The error message refers to the id column of your dataset X, which has entries like "2017-01-20", whereas the y index column has entries like 0, 1, 2, 3. tsfresh does not know, which rows of X belong to which rows of y. The values you give in the `id` column of X must repeat itself in the `index` of `y`.

[2017-04-19 10:43] junajo10 commented on #194
Hi,

I have created again: df
	high	close	volume	open	low	id	time
0	1.06345	1.06335	109000000.0	1.06345	1.06335	0	2017-01-20
1	1.06630	1.06630	119000000.0	1.06615	1.06608	1	2017-01-19
2	1.06785	1.06785	133000000.0	1.06783	1.06775	2	2017-01-18
3	1.06913	1.06913	111000000.0	1.06910	1.06880	3	2017-01-17
4	1.05915	1.05905	102000000.0	1.05905	1.05895	4	2017-01-16
5	1.06535	1.06515	145000000.0	1.06525	1

[2017-04-19 11:47] MaxBenChrist commented on #194
So, what is your question?

[2017-04-19 12:47] junajo10 commented on #194
Why  is X_filtered empty?

[2017-04-19 12:55] MaxBenChrist commented on #194
Because no feature was found relevant. From the warnings it looks like most of the extracted features are constant, e.g. not varying between the classes. This means that they do not contain information about `y` and are therefore irrelevant

[2017-04-19 12:55] #194 closed

[2017-04-26 15:41] TKlerx opened #197 "roll_time_series creates same values"
Hi all,

thanks for the great library and the new feature of rolling time series.
Unfortunately, there seems to be a bug in the new feature:
Instead of using the values of the previous timestamps, always the same values are used for a point in time t.
I attached a notebook where I implemented the rolling time series on my own and compared it with the tsfresh version.
[bug-tsfresh-rolling.zip](http

[2017-04-26 17:59] nils-braun commented on #197
Hi @TKlerx!
Thank you for your question. And you even included a notebook - this is how we like our bug reports :+1:

However, I think I do not understand your question fully. The time column is also shifted, so the time of `t = 2` has always the same `x` and `y` values - we just "delete" the "later" rows (or the earlier ones, depending on the direction).
If you look into `df_tsf_rolling[(df_tsf_r

[2017-04-26 18:54] TKlerx commented on #197
Hi @nils-braun,

thank you for your quick answer. You are correct, I misunderstood the API. I thought that I would get the values of id=1 from t=1 added to id=2 and t=2.

As you mentioned, one has to group by the new id.

Is there any possibility to define the maximum length of the resulting time series?
I would like to use it in the following scenario:
For time t=i, I want to include the previous

[2017-04-27 12:57] MaxBenChrist commented on #197
Hey Timo, Have you looked at the `maximum_number_of_timeshifts` parameter? You can use it to shift up to maximum of k values.

I dont think we have a functionality to shift exactly k values.

[2017-04-27 13:24] nils-braun commented on #197
Well, you could of course just filter by the created if (the shift is encoded in it), but you probably want to limit to only one shift value to save computation time, do you? If this is the case, you would probably have to reimplement the shift function on your own... If time consumption is not a problem here (which I think it should not be), you can just extract until k and filter out the values

[2017-04-27 20:48] TKlerx commented on #197
Ok, thanks @MaxBenChrist and @nils-braun for your answers.

You are right @nils-braun, I am trying to save computation time, so I will implement it on my own.

[2017-04-27 20:48] #197 closed

[2017-05-01 15:35] MaxBenChrist commented on #197
I don't think you will save much time @TKlerx because you will have to calculate the same auxiliary results. We are just not throwing them away.

However, if you manage to speed up the calculation I would be very happy to see a pr! :)

Also, do you have any feedback about the documentation of our method? Apparently it confused you, maybe you have same ideas to improve it?

[2017-05-02 08:37] TKlerx commented on #197
I already implemented the shift by k on my own. It's in the notebook. I did not try to optimize it for runtime, but I guess it could be more efficient than computing all shifts.

I will try to make a PR, but probably not before 15th May :(

Same for the documentation. I have some ideas and will create another PR then.

[2017-05-02 09:34] MaxBenChrist commented on #197
Perfect, looking forward to them

[2017-05-07 13:31] kipkeston opened #198 "Time reversal discrepancies"
I was looking at the time reversal function description from the docs and the source code for it. There is a discrepancy between the docs and the code.

The code is as follows:

`(np.roll(x, 2 * -lag) * np.roll(x, 2 * -lag) * x - np.roll(x, -lag) * x * x)`

however based on reading the documentation, I expected:

`(np.roll(x, 2 * -lag) * np.roll(x, 2 * -lag) * np.roll(x, -lag) - np.roll(x, -lag) *

[2017-05-07 13:37] MaxBenChrist commented on #198
There is indeed a difference between documented and implemented version, in the implemented version the x before the minus is not lagged.

[2017-05-07 14:16] Heavy02011 opened #199 "robot_failure_example: "IndexingError: Unalignable boolean Series key provided""
I'm encountering an error using the  [(robot_failure_example)](https://github.com/blue-yonder/tsfresh/blob/master/notebooks/robot_failure_example.ipynb) using code to generate own sample data like

    df = pd.DataFrame(
          {"id"  : [ 1, 1, 1, 1, 2, 2, 2, 2],
           "time": [10,11,12,13,14,15,16,17],
           "a"   : [ 2, 2, 3, 2, 2, 3, 2, 2],
           "b"   : [ 0,11, 0, 0, 0, 0, 0,

[2017-05-07 18:20] MaxBenChrist commented on #199
Your target vector should only contain two values as you only have two samples

[2017-05-07 18:20] #199 closed

[2017-05-07 18:22] MaxBenChrist commented on #199
Was something in the documentation that confused you? Maybe you have an idea to improve it? :)

[2017-05-08 08:58] MaxBenChrist commented on #198
Disclaimer: I don't had the time to read the papers in detail.

But, the Schreiber and Schmitz paper (https://www.macalester.edu/~kaplan/knoxville/PRE05443.pdf) contains 5 measures of non-linearity. Interesting for us. We could implement all of them.

Regarding the time reversal function, Further, Schreiber and Schmitz use
![bildschirmfoto 2017-05-08 um 10 51 33](https://cloud.githubusercontent.co

[2017-05-13 10:27] NickYi1990 opened #200 "Can anyone provide a example of a regression problem?"
I really do not know how to use this package to solve a regression problem, like predict a company in which day earned how many money.

But i think this package must can be used to solve this kind of problem, is there any example?

[2017-05-14 12:16] mynameisvinn commented on #200
this package "contains many feature extraction methods" that characterize time series data. it wont, however, fit regression models (or any other statistical models) for prediction.

[2017-05-14 19:09] MaxBenChrist commented on #200
Vinn is right, tsfresh is just used to do the preprocessing. It will map the time series into the feature space, on this feature space you can use regression models from other libraries, e.g. Tensorflow or sklearn.

I will let this issue open, We need some notebooks showing how to use tsfresh for time series forecasting g

[2017-05-19 15:27] kr1stjans opened #202 "Select_features doesn't work for single id"
- Ubuntu 16.04
- v0.7.1

[code]

I am trying to predict a delayed time series data. I have X vector with delayed values and Y vector with actual values. Select_features method fails with X must contain at least two samples. If I use multiple ids it works (like robots examples).

[2017-05-19 15:32] MaxBenChrist commented on #202
have you tried it with multiple ids?

[2017-05-19 15:32] kr1stjans commented on #202
Yes, it works with multiple ids, but I need only one id. I'm in tsfresh Lobby on Gitter and we can discuss it there.

[2017-05-19 15:41] MaxBenChrist commented on #202
can you please post the error stack here?

there was a reason that the calculation of features for one time series causes an error, I just do not remember it right now. I will have to look into that

[2017-05-19 15:51] kr1stjans commented on #202
`Feature Extraction: 100%|██████████| 1/1 [00:01<00:00,  1.12s/it]
Traceback (most recent call last):
  File "/home/kristjans/Projects/nedo/prediction.py", line 43, in <module>
    x_values, y_values, dates, columns = data_manager.DataManager().get_data(mm_id)
  File "/home/kristjans/Projects/nedo/data_manager.py", line 100, in get_data
    column_value="value")
  File "/usr/local/lib/python3.5/di

[2017-05-19 16:32] kr1stjans commented on #199
I disagree that target vector should only contain two values for two samples.

Target vector is independent of the number of samples. Target vector in the documentation is 0 and 1 only because there are two states (robot reports a failure or not). If we have one, two or n robots, the target vector would still have only two values.

In the different scenario, the target vector could be robot's elec

[2017-05-19 18:23] MaxBenChrist commented on #202
Ok we got the issue there, you try to filter features for just one sample. That does not make sense from a statistical point of view. A feature selection for just one sample NEVER makes sense ;)

Just replace extract_relevant_fratures with extract_features and you are fine

[2017-05-19 18:23] #202 closed

[2017-05-19 19:02] MaxBenChrist commented on #199
sorry, but a feature selection for just one sample does not make sense. Lets assume you have a feature matrix with one sample and three features

f1 | f2 | f3 | y
1 | 0 | 4 | 1

How do you want to select features???

If you have two or more samples, like

f1 | f2 | f3 | y
1 | 0 | 4 | 1
11| -4 | 1 | 0
...

you can e.g. start looking at the correlation of target f1 to the target y and select feature

[2017-05-19 19:04] MaxBenChrist commented on #199
If you have just one sample, you have no variation in the features which means that you can not address how the feature is connected to the target

In the same way, you can not train a regression or classification model on just one sample

[2017-05-19 19:42] kr1stjans commented on #199
I agree with your last comments, but the word "sample" in your first post in this issue confused me.

[code]
But there are 8 samples and 8 target values in OP's example. If there are 8 samples, I though my definition of sample was wrong. So I search for somethins else. I though you mean two distinct ids (ie two different robots with ids 1 and 2 with the word sample). Sorry, my bad. However, this d

[2017-05-20 11:18] MaxBenChrist commented on #199
He has two samples (one with id 1 and one with id 2)

[2017-05-24 07:30] kipkeston commented on #198
tREV from the literature is equivalent to differencing the sequence by some lag and then calculating the skewness coefficient. I think the correct implementation should follow naturally from there.

[2017-05-25 18:42] smueller18 opened #203 "Function FeatureExtractionSettings.do_not_calculate() cannot deduct features"
Version: latest

I tried to exclude some features from the extraction process but an error occured.
The error also occurs on running the example from http://tsfresh.readthedocs.io/en/latest/api/tsfresh.feature_extraction.html#tsfresh.feature_extraction.settings.FeatureExtractionSettings:

[code]
Follwoing exception is thrown:
[code]

Anyway, the function `FeatureExtractionSettings.do_not_calculate

[2017-05-26 07:25] smueller18 commented on #203
Just saw that #133 updates the settings module and handling would be a lot easier. If that pull request makes it to the master branch, this issue can be closed automatically.

[2017-05-26 07:31] MaxBenChrist commented on #203
Hi @smueller18, Thanks for reporting this issue.

I would prefer to not invest in the old API and switch to the new one as fast as possible. I already started to solve the merge conflicts on the #133 PR.

If you wait a few days, this problem will be obsolete.

[2017-05-26 08:29] smueller18 opened #204 "Feature extraction support for time series with different sampling rates"
In a scenario with time series with different sampling rates, a dataset could look like:
[code]
The sampling frequency of `a` is 1 and of `b` is 0.5.

tsfresh does not allow this timeseries, because the column `b` contains `NaN` values.
[code]
Output:
[code]
At the moment, in that case, the dataset must be split into two seperate sets:
[code]

It would be nice to implement support for timeseries w

[2017-05-26 08:35] MaxBenChrist commented on #204
This is the reason why we have the stacked dataframe format, see option 2 on http://tsfresh.readthedocs.io/en/latest/text/data_formats.html

You can melt (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html) your dataframe and then drop the nans.

[2017-05-26 08:40] MaxBenChrist commented on #204
[code]

this should do the job

[2017-05-26 08:41] MaxBenChrist commented on #204
Regarding the `has_different_sampling_rate` parameter, I do not think it is a good idea to add a parameter for this. I think it is a preprocessing and not a calculation issue

[2017-05-26 08:48] smueller18 commented on #204
Thanks for the quick reply, I did not know `pd.melt()` so far. With that it's easy to implement for me.

[2017-05-26 08:48] #204 closed

[2017-05-26 09:09] MaxBenChrist commented on #204
No problem ;) bytheway we are always looking for nice examples as  ipython notebook, feel free to submit a Pr if you have one

[2017-05-27 05:44] NickYi1990 commented on #200
thanks!

[2017-05-27 19:48] liorshk opened #205 "Performance comparison with pandas built in functions"
Hi,
I have made some performance comparison of 3 basic feature extractors: mean, sum of values, and standard deviation between your feature extractors and pandas and I found some major comparison differences.

I changed the code in _extraction.py_ at line _345_
[code]
As you can see, I only called pandas built in function instead of calling the implementation of the feature extractor.

The followi

[2017-05-28 08:50] nils-braun commented on #205
Thank you for this nice study @liorshk!
We will definitely have a look into this. For this we will have to change some internals in the feature calculators, but this should be doable.

[2017-05-28 10:50] MaxBenChrist commented on #205
@liorshk: Nice observation.

But, I do not see the urge to optimize this part.

Yes, the functions  `.mean()`, `.max()`, `.min()`, `.std()` and `.median()` are optimized on a groupby object (so `gp.f()` is faster than `gp.apply(f)`).

However, if we want to exploit that, we would have to implement some annoying routines, making the code unnecessary complicated. We probably would have to add a four

[2017-05-28 10:52] MaxBenChrist commented on #203
The pr is finally in master. ;)

[2017-05-28 11:29] MaxBenChrist commented on #203
So you can just do

[code]

[2017-05-28 11:29] #203 closed

[2017-05-28 11:31] MaxBenChrist commented on #185
guys, what do you think of having a check when tsfresh is imported and trigger a warning if windows is detected?

In this warning we can recommend the main lock.

[2017-05-28 11:36] MaxBenChrist commented on #49
In #133 we reworked our api.

[2017-05-28 11:36] #49 closed

[2017-05-28 13:55] nils-braun commented on #205
Well, we could at least use numba or something similar to speed up the calculation by itself. Let's study this in greater detail.

[2017-06-11 11:32] NoamGit commented on #205
It seems that @liorshk is right.

Also, I've noticed that the type of return in "apply" calculators is pandas series, which are know to be much more consuming than simple data structures, such as tuples (self checked).
Accordingly, it would be great if all types of calculators would return tuples instead.

BTW, is there any special reason why you choose to work with the pandas's dataframe format i

[2017-06-11 18:07] MaxBenChrist commented on #205
Accordingly, it would be great if all types of calculators would return tuples instead.

Can you Provide some benchmarks for that? If I get you right you propose to change the return type in all function calculators from pandas series to ndarrays, lists or tuples?

[2017-06-11 18:23] MaxBenChrist commented on #205
Right now there is no strict dependency on pandas dataframes. Originally, we were aiming for a framework that would allow us to distribute the apply calls over a cluster. Also the group by routine was quite convenient because it saved us to write a lot of code ( as always in business, computation time is cheap but programming time not)

I like your idea with the id column as keys. Maybe we should

[2017-06-14 17:27] Nuri8 opened #213 "Formatting the data for 'tsfresh'"
First off, thank you for this amazing library, which showed me another way of observing data.

I read the tutorials, but I think I clearly don't get it right somewhere...
Below is the DataFrame 'df' I was trying to feed into 'tsfresh': multiple tickers with n 'features' so that the machine can learn the 'label' for the particular ticker on the particular date.

![a](https://user-images.githubuserc

[2017-06-14 22:53] MaxBenChrist commented on #213
Hi @Nuri8,

the features_1 ... features_n are denoting the value of your time series? From those you want to extract the features?

If yes, you have to omit the first two columns. Also, right now, your data is not in the right format. Please see http://tsfresh.readthedocs.io/en/latest/text/data_formats.html

[2017-06-15 05:47] Nuri8 commented on #213
![axxx](https://user-images.githubusercontent.com/29172610/27166402-45d7bd74-51d5-11e7-924d-032e729528cb.png)

I believe this might work in order to feed into 'tsfresh', please correct me if I am wrong.

1. Allocate an identical 'ID' to a particular 'date', so that there will be only one 'label' for the same 'ID' (and consequently, there will be only one 'label' for the same 'date').
2. Since I ha

[2017-06-15 21:40] pbamotra opened #214 "SystemExit: 2 when running from tsfresh import extract_relevant_features"
-MacOS X
-installed using pip install tsfresh
-import error
<img width="985" alt="screen shot 2017-06-15 at 2 38 31 pm" src="https://user-images.githubusercontent.com/6505165/27202947-79414a88-51d8-11e7-889b-6924f4093a59.png">

[2017-06-16 07:20] MaxBenChrist commented on #213
There is one slight error:

[code]
You only have one type of the time series, the TS values.

[2017-06-16 07:27] MaxBenChrist commented on #214
We are all using Mac OS, without the problem that you described.

You can try to install tsfresh into a virtual environment:

[code]

[2017-06-17 10:26] smueller18 opened #216 "Introduce scientific results of feature selection"
Writing my thesis, I need a scientific result of how the features are being selected. Therefore, it is very helpful to plot the Benjamini-Yekutieli procedure like in the paper [Distributed and parallel time series feature extraction for industrial big data applications](https://arxiv.org/abs/1610.07717), Figure 2.

For this feature, the rejection line and the significance test DataFrame must be pa

[2017-06-17 11:05] nils-braun commented on #214
This looks more as something may be wrong with your python installation in total (because we do not have such a `__main__.py` in our project).

[2017-06-17 11:07] nils-braun commented on #213
To answer your second question: you could for example introduce another index, where you concatonate the id and the ticker name and than extract the features synchronously for all tickers and all IDs.

[2017-06-18 05:59] nils-braun commented on #205
I have now implemented and tested a version where I am using numpy arrays internally and do not return Series, but tuples. The performance boost is actually not that high as I expected (10 %), but still.

Also, I do like the logics now more, as there is no need for distinguishing between apply and aggregate and using numba should be easier now.

I will fix up the branch an make a PR.

[2017-06-18 10:03] MaxBenChrist commented on #214
Like @nils-braun, I do not see that your problem is related to tsfresh. Please reopen this issue if the problem persists and you have more indications that the error originates from tsfresh

[2017-06-18 10:03] #214 closed

[2017-06-18 10:08] MaxBenChrist commented on #205
Also, I do like the logics now more, as there is no need for distinguishing between apply and aggregate and using numba should be easier now.
I will fix up the branch an make a PR.

10% decrease in runtime? amazing. I am really curious to see the pr. It is probably touching many parts of tsfresh?

[2017-06-18 10:09] MaxBenChrist commented on #213
I think this question again shows that we need a forecasting example, preferable with stock data.

[2017-06-19 07:27] MaxBenChrist commented on #216
Our feature selector return the p-values. You can take them, reimplement the benjamini hochberg procedure and plot it.

I do not see an opportunity to plot it without breaking other things.

[2017-06-19 07:28] MaxBenChrist commented on #216
Also I do not see a need to create those plots inside tsfresh.

[2017-06-19 07:31] MaxBenChrist commented on #216
If you need some help, please reopen this issue.

Also, your plots seem finished (I could have provided my plotting routines)

[2017-06-19 07:31] #216 closed

[2017-06-22 09:30] fereshtemohebbi opened #218 "Feature extraction problem"
[merge-finger-012345.copy.xlsx](https://github.com/blue-yonder/tsfresh/files/1094386/merge-finger-012345.copy.xlsx)

[warning.docx](https://github.com/blue-yonder/tsfresh/files/1094258/warning.docx)

Hi
I have two IMU sensor with
 100 hz data rate which I extract yaw pitch roll angle with each of them.I window finger movement with them and I need to extract and filter feature for that window.
as a

[2017-06-22 10:32] fereshtemohebbi commented on #213
@nils-braun  Hi Could you explain more about your comment I dont understand exactly what should we have to do in this situation ?

[2017-06-22 14:13] nils-braun commented on #218
Please send us a jupyter notebook or a pyton file with your data (or how you import it), and how you call tsfresh. Otherwise it is hard to reproduce the bug.

[2017-06-22 14:26] fereshtemohebbi commented on #218
[runscr.txt](https://github.com/blue-yonder/tsfresh/files/1095074/runscr.txt)
Sorry i want able to attach python file, I just attach the text that I run on my pc. And could please let me know that is my data correct for two sensor (I mean in one Id I use their data as kind ) because I need feature for the whole period  of one window( I determine them with window in kind)
thanks for your kind help

[2017-06-22 14:52] nils-braun commented on #213
Because TSFresh in the moment only allows one single column as the ID (and will probably also continue to do so) - so having two columns which both are needed to define the information as the ID are too much for our API.

[2017-06-22 14:53] nils-braun commented on #218
Which part of this exactly is not working? I have just tested the extraction (before the second excel file loading) with the first 100 IDs, but so far everything is fine. Are you sure this was not just a problem with to less memory or alike? Because your datasample is quite large.

[2017-06-22 15:00] fereshtemohebbi commented on #218
the problem is that it shows 100 percent feature extraction and all the warnings(I sent in warning.docs) but after that nothing will happen , no error , no feature
Could please let me know in this situtation the way that I choose for feature extraction is correct or not? Do you have solution for me

[2017-06-22 17:49] mahnunchik opened #219 "How to deal with rolling window"
How to deal with rolling window on data from exactly one source (`column_id` in term of `extract_features`)?

For example I have the data:

[code]

I'd like to extract features by 1 hour period, so windows should be like:

[code]
[code]
[code]
[code]

Is `roll_time_series` designed for this task or not?

[2017-06-23 00:03] nils-braun commented on #218
Your way of extraction is in principle correct.
Again, I have tested your code with the first 100 ids (because I do not have that much RAM), and it worked out well.
What do you mean with "no error, not feature"? Do you get back an empty dataframe? Or is the script just "hanging"? Because with your large dataset and small memory, this is what may happen.

[2017-06-23 07:54] nils-braun commented on #219
No, not really. I mean, you can start with the function and add some filtering afterwards - but probably it is easier to create your own small method doing this.

[2017-06-23 07:54] #219 closed

[2017-06-23 09:05] mahnunchik commented on #219
Hi @nils-braun
Do you plan to implement something for this task in future?

[2017-06-23 09:09] fereshtemohebbi commented on #218
The thing is that I check this amount of data with just 2 ID (Logically is incorrect just for test) It works and i extract feature . Then I change the ID to the time stamp which it goes up and the script hangs just shows 100 percent feature extraction but hangs. So I have several question and confusion :+1:
1) I am confused that tsfresh extract feature base on ID number ?
2 ) I read the examples o

[2017-06-25 14:58] nils-braun commented on #218
To 1) Please read our documentation, where it this is described. Yes, the features are extracted for each ID separately (which makes sense of course)
To 2) You could for example just feed in the first 1/10 of the data, then the second etc. You just have to make sure to make "reasonable" cuts (e.g. have the data for a given ID in one partition).

I will close this issue now, as tsfresh runs well wi

[2017-06-25 14:58] #218 closed

[2017-06-27 13:30] nils-braun commented on #219
No, not really. The problem is, that more or less everyone has a slightly different requirement on how he wants to roll the data - so it is easier to just give the basic functionality in the library and let the user to the rest.
But iff you want to do a pull request, feel free about it :-)

[2017-07-03 12:36] nikhaas opened #222 "Bug in `mean_autocorrelation`?"
OS: Ubuntu 16.04, Python 3.5, tsfresh 0.8.1

There might be a bug in the method `mean_autocorrelation` ([Link to line of code](https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_extraction/feature_calculators.py#L288))

The calculation of the autocorrelation for all lags 0...k simultaneously following the equation for [autocorrelation estimation](https://en.wikipedia.org/wiki/Autoc

[2017-07-03 17:52] nikhaas opened #223 "Feature Request: Partial Autocorrelation Function (PACF)"
For a timeseries with an unknown data generating model, the *autocorrelation function (ACF)* and [*partial autocorrelation function (PACF)*](https://en.wikipedia.org/wiki/Partial_autocorrelation_function) help in identifying the order of an Autoregressive `ARMA(p, q)` model. The [Box-Jenkins method  uses ACF and PACF](https://en.wikipedia.org/wiki/Box%E2%80%93Jenkins_method#Autocorrelation_and_par

[2017-07-05 14:58] MaxBenChrist commented on #222
Hi @nikhaas, welcome to tsfresh. Awesome investigation & explanations !

It is important that the docstring of the function calculator aligns with the calculated value. The name can be ambiguous, as long as the docstring is congruent.

The docstring that is contained in mean_autocorrelation contains the following definition of the mean autocorrelation:
![bildschirmfoto 2017-07-05 um 16 22 29](http

[2017-07-05 15:05] MaxBenChrist commented on #223
Again, great post, plots, everything great quality.

You could consider to submit that plots in a small notebook as a PR!

`k` is the max lag parameter of the AR model, `coeff` the index of the parameter that is returned as feature. so it fits a AR(k) model and returns the `coeff <= k` coefficient. if that was not clear or confusing to you. could you please submit a pr where you correct that docst

[2017-07-05 17:47] nils-braun commented on #205
All right, parts of it are now in tsfresh (head version). There is still more to do (we could still gain from numba etc.), but this requires some more work. I will leave this issue open for later reference.

[2017-07-06 01:20] wsjzha opened #225 "How is time in DataFrame used in feature extraction?"
Hello, I am new to time series feature extraction. I have two questions here:

1. why we need to have time in the DataFrame? I think it could be useful when the sampling frequency varies over time. However, if we have a time series data which is sampled at a fixed frequency, how does time help for feature extraction?

2. in some cases, how should I define time? Say I want to classify multiple even

[2017-07-06 05:03] nils-braun commented on #225
As stated in our documentation, the time column is only used for sorting and then dismissed, before any feature is calculated.

[2017-07-06 05:03] #225 closed

[2017-07-06 12:40] MaxBenChrist commented on #213
We should not support multiple id columns. concatenation of existing id columns into one is trivial with pandas. I will close this

[2017-07-06 12:40] #213 closed

[2017-07-06 12:42] MaxBenChrist commented on #205
@nils-braun then we should probably adapt the issue title.

maybe "speed up calculation by numba"?

[2017-07-06 12:51] MaxBenChrist commented on #198
sorry for the delay. as always, time is limited :-/

I am still planning to tackle this issue. Would be interesting to have all 5 measures of non linearity.

So you say that time reversal asymmetry statistic is equal to skewness coefficient of the lagged diffed signal. But in the Fulcher equation from above, the mean term is missing in the skewness coefficient, isn't it?

[2017-07-06 12:59] MaxBenChrist commented on #125
Is that still a problem? where could we improve?

I am suffering a little bit from tunnel vision here, for me the structure is quite logic.

[2017-07-06 12:59] nils-braun commented on #205
Go for it, I am currently on my smartphone

[2017-07-06 13:01] MaxBenChrist commented on #119
Wow. I think we tackled most of those issues already. I think we can close this one.

[2017-07-06 13:02] #9 closed

[2017-07-06 13:02] MaxBenChrist commented on #9
We have an example now

[2017-07-06 13:03] MaxBenChrist commented on #9
contained in

https://github.com/blue-yonder/tsfresh/blob/master/notebooks/human_activity_recognition_multi_class_example.ipynb

[2017-07-06 13:07] MaxBenChrist opened #226 "Native support for multi classification in feature selection"
Would be great to have native support for multi classification during feature selection as done in

https://github.com/blue-yonder/tsfresh/blob/master/notebooks/human_activity_recognition_multi_class_example.ipynb

We probably need a new parameter for that to divide multi classification from regression.

This should be quite straightforward to implement. Just perform feature selection on binary on

[2017-07-06 18:46] wsjzha commented on #213
Hello, can you explain further about how to format the data? Take Nuri8's post as an example,

![image](https://user-images.githubusercontent.com/5770525/27924880-cf51af7a-6250-11e7-8991-44bdc004b8bd.png)

Say the data is not related to stock, but it's collected from two sensors monitoring two events. On 2008-01-03,  event A happened and I observed n samples (corresponds to n features in the table

[2017-07-08 02:38] benfulcher commented on #198
The definition used in [hctsa](https://github.com/benfulcher/hctsa) rescales relative to the second order moment, as is implemented in (the now long abandoned package) [TSTOOL](http://www.physik3.gwdg.de/tstool/).
But it also computes the raw version from Schreiber and Schmitz, Eq. (6), i.e., the numerator of the normalized statistic.
I'm not fully on top of the theory to provide much nuance as to

[2017-07-10 13:05] MaxBenChrist opened #228 "Bug: Calculation of Fourier coefficients is not independent from other Fourier coefficients"
I was working on unit tests for the `fft_coefficient` feature calculator, when I stumbled about the following bug:

[code]

So what is happening here? The value of a fft coefficient depends on the maxlag that is used to calculate the fft.

The bad line is here: https://github.com/blue-yonder/tsfresh/blob/master/tsfresh/feature_extraction/feature_calculators.py#L742

Why is this bad?

This means th

[2017-07-10 15:01] MaxBenChrist commented on #198
@benfulcher Thanks for the feedback :)

I will add an issue that we scan TSTOOL for other features to implement.

Further, I fixed the missing lag. thanks for reporting @kipkeston.

I  will also add some other measure of non linearity from the Schmitz paper.

[2017-07-10 16:19] MaxBenChrist commented on #222
[code]

gives the following image
![Uploading Unknown.png…]()

so it seems for random time series, after 1000 ticks we have the break even point with regard to the fft calculation. I will ad a switch that uses the fft if the length is bigger than 1250.

[2017-07-10 16:19] MaxBenChrist commented on #222
![unknown](https://user-images.githubusercontent.com/13162426/28028277-50f44314-659c-11e7-9455-2e452eb9a49d.png)

[2017-07-10 18:54] jneuff commented on #226
See #232

[2017-07-10 19:01] nikhaas commented on #222
Sorry for the late response.

I can confirm your thoughts.  The usage of statsmodels' `acf`, rejecting lag 0 and averaging solves the issue. The docstring corresponds to the calculation. Nice normal vs fft plot! The speed advantage for large timeseries is remarkable.
Seems that I was to slow to supply the fix ;-).

[2017-07-10 20:43] nikhaas commented on #228
I give my 2cents to this issue, although I am not an expert in signal processing. Tbh, my following conclusions are drawn from ~1h of research on Fast Fourier Transformation (FFT). Please correct me if I am mistaken.

I suspect you might have a misconception about how FFT works. This is supported by the naming of your variable `max_lag`. This tastes like you inspect some kind of lag operator to be

[2017-07-11 07:44] MaxBenChrist commented on #228
Thanks for contributing @nikhaas.

First, the equation of the DFT for the following discussion is

![60627d7b56cbf58e87ccb5c3ee92a36ebccc62f5](https://user-images.githubusercontent.com/13162426/28055522-8f40ac20-6619-11e7-9f70-852dfd61470f.png)

So, the individual features that we calculate with `fft_coefficient` are the A_k

The reason why we did not call this parameter `n` as in the equation abo

[2017-07-11 07:47] MaxBenChrist commented on #228
So, TL:DR

-Ditch `max_lag` operator.
- Use the length of the time series instead.

This means that we get basically the A_k from k=0 to the length of the time series "for free". I am not sure how to adapt the settings.

[2017-07-11 07:53] MaxBenChrist commented on #205
I think, a great place to test that is the `sample_entropy`.

[2017-07-11 08:11] MaxBenChrist commented on #81
So, pr #227 will add the p-value. It is not that easy to also add the boolean flag because we are only calculating the features once. For the boolean flag you would need:

1.) calculate p-value => 2.) decide to reject hypothesis

I would leave 2.) to the user for the time being.

[2017-07-11 10:09] MaxBenChrist commented on #228
See the PR. Indeed the runtime is okayish,

[code]

![Uploading Unknown.png…]()

So, for a dataset of 10,000 time series, each of length 10,000, the extraction of all dft takes around 2s.

[2017-07-12 06:40] MaxBenChrist opened #237 "Add tests if iPython notebooks execute"
We could have some unit tests for our iPython notebooks to prevent bugs like #236.

For example

http://blog.thedataincubator.com/2016/06/testing-jupyter-notebooks/

contains a template to test notebooks. However, this will extend the runtime of the test suite as notebooks are computationally quite expensive, compared to the other unit tests. What is your take on this?

[2017-07-12 13:54] MaxBenChrist opened #238 "Fix errors in documentation."
I saw that there were errors when building the documentation for

tsfresh.feature_extraction.feature_calculators.max_langevin_fixed_point
tsfresh.feature_extraction.feature_calculators.friedrich_coefficients

would be good to fix that.

[2017-07-13 14:49] #238 closed

[2017-07-13 14:53] #222 closed

[2017-07-13 14:57] #198 closed

[2017-07-13 14:58] MaxBenChrist commented on #174
I started sketching something on branch notebook_rolling. Feel free to also contribute to that branch

[2017-07-13 15:03] #228 closed

[2017-07-14 10:53] GillesVandewiele commented on #111
Hey everyone,

Just to give everyone a heads-up. I've started implementing different algorithms to discover shapelets in timeseries.

https://github.com/GillesVandewiele/pyShapelets

[2017-07-14 14:43] MaxBenChrist opened #241 "Add feature "number of zero crossings""
https://en.wikipedia.org/wiki/Zero_crossing

could be an interesting, easy to add feature

[2017-07-14 14:43] MaxBenChrist commented on #134
as the upcoming release will be breaking, we should include the renaming in it as well

[2017-07-14 14:57] #2 closed

[2017-07-14 14:58] MaxBenChrist commented on #2
Now all features are tested :)

[2017-07-14 14:58] MaxBenChrist commented on #85
I do not see how this is related to speed milestone

[2017-07-14 15:01] #5 closed

[2017-07-14 15:03] MaxBenChrist commented on #61
is obsolete like the extraction settings object :D

[2017-07-14 15:03] #61 closed

[2017-07-14 17:04] nils-braun commented on #61
:+1: I like solving issues by deleting the code they are referring to :-D

[2017-07-14 19:51] MaxBenChrist opened #242 "ignore_warnings is not applied to impute function"
in extract_features

[2017-07-14 20:03] MaxBenChrist commented on #134
The current naming is correct.

see, https://github.com/blue-yonder/tsfresh/blob/6dbdaef6d0dc0296c96a29db5ef757193051f649/tsfresh/feature_extraction/feature_calculators.py#L1023

But, we can add mean_change_quantiles, with out the abs

[2017-07-14 23:01] nikhaas opened #244 "Calculate Absolute Values and Normalize Fourier Coefficients"
I've created a pull request #243 with a rewritten notebook / tutorial / explanatory material for the discrete fourier transformation.
I gained some detailed knowledge and propose
1) to report the absolute values (Pythagoras on real and imaginary part of the complex number) of the fourier coefficients, which can be calculated via `np.abs`
2) to normalize the DFT coefficients somehow related to the

[2017-07-15 15:51] MaxBenChrist commented on #237
I accidentally pushed those unit tests straight to master

[2017-07-15 16:00] #237 closed

[2017-07-15 16:10] MaxBenChrist commented on #238
there were indeed bugs in two notebooks that I found with this test procedure

[2017-07-16 10:42] MaxBenChrist commented on #244
I do not see any compelling reason why we have to use the absolute value of the instead of real and imaginary part.

the normalization is a valid point if we have different sized time series.

[2017-07-16 12:31] MaxBenChrist opened #247 "Test ipython notebooks for python3"
I had to turn off the testing of python notebooks for py3.

It would be good to also check the notebooks unter python3

[2017-07-16 17:40] nikhaas commented on #244
Well, you could consider to change the "encoding" of the DFT coefficients from complex numbers to polar coordinates with amplitude (by `np.abs`) and phase (by `np.angle`). This info might be more interpretable to the reader. It might be a matter of taste. Do not have compex numbers elsewhere in *tsfresh*?

I do not get what you mean by

I pointed out in #243 that normalization with `norm="ortho"`

[2017-07-16 20:00] nikhaas commented on #247
Why did you need to turn off the py3 testing? This might be related to my experience.

My [PR for a new notebook produced an error](https://github.com/blue-yonder/tsfresh/pull/243). This is because I use Anaconda with it's notebook extensions - I can choose an Anaconda Kernel among the "normal" python2 and python3 kernels. This information is stored in the metadata which is located at the bottom o

[2017-07-17 09:15] MaxBenChrist commented on #244
I think the normalization is off the table, as it does not really do anything right?

Regarding the absolute value or angle. We could add those as further features, so the fft can return, real, im, angle and amplitude. the feature selection will then decide which are relevant.

[2017-07-17 09:15] MaxBenChrist commented on #244
you wanna submit a pr for that?

[2017-07-17 09:19] MaxBenChrist commented on #247
We are committing notebooks checked it, so people can read them on the github repo.

indeed, that creates problem with python3 + meta kernel on py2. this is why I turned off the testing for py2.

So. I am not fully getting why you propose here. is the

[code]

solving the issue? we could have a switch that uses `"--ExecutePreprocessor.kernel_name=python2"` and `"--ExecutePreprocessor.kernel_name=p

[2017-07-17 14:53] #242 closed

[2017-07-18 08:24] #134 closed

[2017-07-18 08:25] MaxBenChrist commented on #134
merged with pr #248

[2017-07-18 11:47] nikhaas commented on #247
I'll have a look at it soon. I'll try to get the notebook tests running locally.

[2017-07-18 11:54] nikhaas commented on #244
I'll have a look at it soon.

[2017-07-18 12:00] MaxBenChrist commented on #247
I added a switch on the py3nbtest branch

[2017-07-18 12:01] MaxBenChrist commented on #247
See https://github.com/blue-yonder/tsfresh/blob/py3nbtests/tests/test_notebooks.py#L27

[2017-07-18 12:02] MaxBenChrist commented on #247
I am not sure if the code in our notebooks is ready for py3 though

[2017-07-19 18:21] ProgBot opened #253 "extract_features MemoryError with > 7x5k timeseries"
I'm attempting to to feature extraction on a time series that's 5 minutes long at 30 samples per second, with 7 features. However, I noticed that once I got past ~5k samples, I got a MemoryError.

Running on Windows 10 64-bit/16gb RAM with python 3.5.2 32-bit, and the master branch of tsfresh.
Sample Timeseries, Code & Traceback: https://gist.github.com/ProgBot/0463a68efcbabdb0e6c204c4b8bbf52a

Is

[2017-07-20 08:16] MaxBenChrist commented on #253
I have been using refresh with datasets > 10 GB on a singular machine. Also with time series that are 10k-20k ticks long.

From the stacktrace, it is hard to judge what the problem is. Can you do the following:

-Reduce length of ts
-Reduce number of ts
-Play around with chunk size parameter
-Turn off multi processing (`n_jobs=0`)

And see if the problem persists?

[2017-07-20 12:18] MaxBenChrist opened #254 "Adapt doctoring of normalize_input_to_internal_representation"
Currently our internal format is

[code]

So one example is

[code]

The problem is the id column, this information is duplicated. Maybe we can have more nested dictionaries? Like

[code]

Here, we could have the values as a plain numpy array

[2017-07-20 19:07] nikhaas opened #255 "Update `fctype` in docs how_to_add_custom_feature"
With #217, `fctype` was changed to "simple" and "combiner". Update the [documentation on how to add a custom feature calculator](https://github.com/blue-yonder/tsfresh/blob/master/docs/text/how_to_add_custom_feature.rst).

[2017-07-20 22:12] nils-braun commented on #254
Ähm - this is not our internal format :-D
Our internal format is a melted pandas Dataframe, so
[code]
We still support the old respresentation, but this is translated to this dataframe

[2017-07-21 01:18] rajil opened #256 "Feature request, Zero crossings"
Please can you add support for getting zero crossings for a time-series (i.e. sign changes).

Thanks

[2017-07-21 08:45] MaxBenChrist commented on #254
Well, I was not working on the master but on the `0.8.1`, my bad.

[2017-07-21 08:46] MaxBenChrist commented on #254
However, we should adapt the docstring of the `normalize_input_to_internal_representation` to reflect the new format.

[2017-07-21 08:47] MaxBenChrist commented on #256
Duplicate, see #241

[2017-07-21 08:47] #256 closed

[2017-07-21 08:48] MaxBenChrist commented on #241
We can have a general feature counting the crossing around a value m

[2017-07-21 09:18] kempa-liehr commented on #241
I've got an implementations together with unit tests from a different project, which could be easily adapted for refresh.

[2017-07-21 09:21] MaxBenChrist commented on #241
it is really easy to implement.

`
x = np.sign(x-m)
x = np.diff(x)
f = sum(np.abs(x))
`

[2017-07-21 11:17] MaxBenChrist opened #257 "Make aggregation function in `mean_autocorrelation` variable"
one could for example also calculate a generic aggregation of the autocorrelations.

[2017-07-21 16:26] #247 closed

[2017-07-22 11:00] smueller18 opened #259 "Include Principal Component Analysis in tsfresh"
I did a PCA analysis after the feature selection process of tsfresh and I think it is a good idea to implement this code also in the tsfresh project.
I created a notebook file for that purpose. Because I cannot upload .ipynb files here, have a look at https://github.com/smueller18/tsfresh/blob/pca/notebooks/pca.ipynb. My suggestion is to implement the class PCAForPandas from cell [1] somewhere in

[2017-07-22 11:09] MaxBenChrist commented on #241
Done!

[2017-07-22 11:09] #241 closed

[2017-07-22 11:10] MaxBenChrist commented on #241
See pr #260

[2017-07-22 13:02] MaxBenChrist commented on #257
see pr #261

[2017-07-22 13:02] #257 closed

[2017-07-22 13:03] MaxBenChrist commented on #255
see pr #262

[2017-07-22 13:03] #255 closed

[2017-07-22 13:03] MaxBenChrist commented on #254
see pr #263

[2017-07-22 13:03] #254 closed

[2017-07-22 13:05] MaxBenChrist commented on #244
implemented this in pr #264

[2017-07-22 13:05] #244 closed

[2017-07-22 13:30] MaxBenChrist commented on #259
That is the PCAforPandas class that I wrote and send to you, right?

I do not think that the PCA should be included in this project. I feel that refresh should stay a feature extraction package, even though we also include a feature selection.

However, with the latest updates, the number of (highly correlated) features increased. It could be beneficial to provide the user with some easy measure f

[2017-07-22 17:36] smueller18 commented on #259
@MaxBenChrist Yes PCAforPandas is based on the code you provided but also extended with automatic normalization and reduced to work with pandas DataFrame only.

[2017-07-23 18:58] MaxBenChrist commented on #223
I think we are already calculating the pcaf with the `autocorrelation` feature calculator.

[2017-07-24 04:33] Ezekiel-Kruglick opened #266 "Potential new features: relative power by chunk or length fraction"
Just a feature I have had work in the past.

For N fractional lengths L of an overall series length L' , generate N different features where each one is the sum of squares over the chunk with length L divided by the overall sum of squares. This give the ratio of power in each of the N bins.

If you think this is something you'd want in tsfresh, I can generate the code and a pull request. I just di

[2017-07-24 06:34] MaxBenChrist commented on #266
Hi @Ezekiel-Kruglick. Welcome to tsfresh.

The potential feature that you describe sounds interesting. Have you used it before in some application?

[2017-07-24 07:22] MaxBenChrist commented on #34
I think that we just need to apply `convert_to_output_format` to the `default_fc_parameter` object

[2017-07-24 09:23] #119 closed

[2017-07-24 09:24] MaxBenChrist commented on #253
Is this still valid? @ProgBot

you could also try to extract features with the master version (`pip install git+https://github.com/blue-yonder/tsfresh`)

[2017-07-24 12:19] MaxBenChrist commented on #253
Well, you could monitor the RAM consumption. python 32 bit should be limited to 4GB of memory. If your consumption is higher, this causes the memory error.

please reopen this issue if the problem persists

[2017-07-24 16:58] jneuff commented on #259
I wouldn't add it as functionality to tfsresh. There are already libraries for this purpose out there. What we could do, is add some notebooks with examples doing some feature/dimensionality reduction.

[2017-07-24 17:58] Ezekiel-Kruglick commented on #266
Yes, I've used it in a couple projects. It's a feature that is easy for humans to see as well ("hey, there's a big bump in this area"), which can be nice.

[2017-07-24 18:18] MaxBenChrist commented on #266
Alright let's do it. I updated the documentation on how to add custom feature calculators. If you face any challenges or have questions let me know

[2017-07-24 19:13] Ezekiel-Kruglick commented on #266
I see the new documentation, you anticipated many potential questions, thanks!

I have forked and cloned to my dev machine. I look forward to working on it.

[2017-07-27 17:49] nikhaas opened #272 "impute function is replacing whole column by mean"
`tsfresh version: 0.8.1.post0.dev32+ng76b27dd.dirty`

I played around with the `Robot Execution Failure Dataset` and found the following issue after feature extraction via

[code]

This is how it looks like when using `impute`:

 F_x__autocorrelation__lag_0 | F_x__autocorrelation__lag_1 | F_x__autocorrelation__lag_2 | F_x__autocorrelation__lag_3 | F_x__autocorrelation__lag_4 | F_x__autocorrelation

[2017-07-27 18:11] nikhaas commented on #223
The `autocorrelation` feature calculator uses `pd.Series.autocorr()`.

I played around in [this notebook. starting from cell 14](https://github.com/nikhaas/tsfresh/blob/acf_pacf_autocorr_notebook/notebooks/autocorr_acf_pacf_comparison.ipynb) to check the interdependence of `autocorr,` and `statsmodels acf, pacf`. For the simple AR(1) process

[code]
which looks like
![simple_ar_process](https://us

[2017-07-27 18:37] MaxBenChrist commented on #223
Agree.

Well. ok, then lets include the PCAF as well.

Can you provide prs (a) for the PCAF and (b) with unit tests for the autocorrelation function, Niklas?

[2017-07-27 18:53] MaxBenChrist commented on #223
I would not do that.

[2017-07-27 19:19] MaxBenChrist commented on #272
Great analysis @nikhaas

This is heavy. It looks like the impute function is setting the whole column to the mean value instead of just the NaN cells. Will investigate further

[2017-07-27 19:31] MaxBenChrist opened #273 "Unit test + settings for autocorrelation"
See the discussion in #223

@nikhaas found some inconsistencies regarding the `autocorrelation` feature calculator

Also we are missing unit tests for it.

So I propose that we add some unit tests and make sure we use the right estimator (either statsmodes ACF or `np.corrcoef`)

[2017-07-27 19:32] MaxBenChrist commented on #223
I moved the investigation regarding the acf into a new issue #273

[2017-07-27 19:44] nikhaas commented on #223
Yes, I can do this. This may take a while, I hope to finish it within a few days.
Moreover, I can suggest to refine the notebook to present the features `autocorr, acf, pacf` if desired.
I suggest 3 PRs:
(a) for the autocorr tests
(b) for the PACF function with tests and
(c) for the explanatory notebook.

I made a quick speed comparison ( [happy to save time by modifying your code from the DFT iss

[2017-07-27 19:56] nikhaas commented on #273
See [this SO discussion](https://stackoverflow.com/questions/36038927/whats-the-difference-between-pandas-acf-and-statsmodel-acf) for reference, too.

[2017-07-27 20:05] MaxBenChrist commented on #272
This bug only occurs if there are NaNs in multiple columns, which is why it got undetected by our unit tests. @nils-braun or me will fix it

[2017-07-27 20:44] nils-braun commented on #272
Thank you very much for reporting this @nikhaas. I have fixed the bug (I hope) and also made the `impute` function much faster.

[2017-07-28 00:06] #272 closed

[2017-07-28 05:06] #174 closed

[2017-07-28 05:07] nils-braun commented on #12
I think the issue is more or less solved with our current requirement file.

[2017-07-28 05:07] #12 closed

[2017-07-28 06:18] #200 closed

[2017-07-28 07:48] MaxBenChrist commented on #266
See pr #268

[2017-07-28 07:48] #266 closed

[2017-07-28 07:50] MaxBenChrist commented on #223
The yw equations look to slow, 10 seconds for one time series of length 1000.... However, we use random time series, maybe it is a little bit faster if you have a time series with "structure".

[2017-07-28 08:28] nikhaas commented on #272
You're welcome :smiley: Man, you fixed that quickly!

[2017-07-28 09:09] nikhaas commented on #223
`acf` means the `statsmodels.tsa.stattools.acf` function. tsfresh already uses this in the feature calculator `agg_autocorrelation`. With this plot I just wanted to point out that the performance of `pacf` with `ld` is close to a function that is already used in tsfresh. `acf` is not an option we can use in the `pacf` function.

It is 10 seconds for 100 timeseries (label on the y axis), therefore

[2017-07-28 17:21] Ezekiel-Kruglick commented on #111
Just to jump in here.... I've long been a fan of the output of Keogh's group, but I don't see how to implement shapelets in the format of tsfresh now because it would cause a huge explosion in number of features and most would be useless. Having said that, one could imagine a pre-processing step doing shapelet discovery (K-NN using various distance metrics and sub-segments) which would generate a

[2017-07-28 19:39] MaxBenChrist commented on #111
Me too. Dynamic time warping with kNN often achieves amazing accuracies in time series classification tasks. I have not used shapelet approaches so far.

This sounds very interesting. I like the idea of splitting to finding of the shapelets and then extraction of features. In such a way it will not brake our paradigm that the value of one feature does not depend on the other features.

Actually, I

[2017-07-28 19:47] Ezekiel-Kruglick commented on #111
@MaxBenChrist @GillesVandewiele

I found this talk be Keogh in which he spends about half the time talking about shapelets: https://www.youtube.com/watch?v=sD-vvN_st58&t

He notes that shapelets are a special form of unsupervised motif discovery once you've turned the shape into a psuedo time-series.

I have used a variety of Motif discovery algorithms. I think this gives us a potential skeleton t

[2017-07-28 20:07] Ezekiel-Kruglick commented on #111
@MaxBenChrist   - I almost missed your last question. I have used DTW and kNNs a lot and done Motifs of which shapelets are a special case, but so far my specific exposure to "shapelets" have been only through reading papers from Keogh's group. I do have a collection of about 300MB of material from Keogh's group from back a few years when they were handing out data and code.

[2017-07-29 06:18] ClimbsRocks commented on #111
tspreprocess sounds like a great idea! doesn't clutter up the main package with unnecessary complexity, but gives quite a few advanced tools to the power users who seek them out.

@MaxBenChrist : out of curiosity, which "efficient python DTW + kNN implementation" did you end up going with? I'm facing that same struggle.

[2017-07-29 14:50] jneuff opened #275 "All NotebooksTestCase tests fail with `CalledProcessError`"
Relevant output:

[code]

and

[code]

I have the same problem with running the tests with Python 3.
The relevant code of the tests seems to be:

[code]

Apparently these settings don't work on my machine (Fedora 26).

[2017-07-29 15:03] MaxBenChrist commented on #275
Is `ipython` installed?

I have seen that error when I have only installed `jupyter`

[2017-07-29 16:07] nikhaas commented on #273
I think I found the reason for the different values and I am confident about the result because I managed to calculate `np.corrcoef` and `statsmodels acf` by hand.

`pd.Series.autocorr()` invokes `np.corrcoef` under the hood. Therefore, the calculations match the following formula:
![Pearson's correlation coefficient](https://wikimedia.org/api/rest_v1/media/math/render/svg/f76ccfa7c2ed7f5b08511508

[2017-07-29 22:43] nikhaas commented on #275
I've had a similar issue. Notebook tests failed on my local machine. The main line of interest in my case was `jupyter_client.kernelspec.NoSuchKernel: No such kernel named py27tsfresh`.

I am working with Conda and it's environments; the same issue was discussed [here](https://github.com/Anaconda-Platform/nb_conda_kernels/issues/34). I adapted the solution, and it worked!

In my case, the system's

[2017-07-29 22:44] nikhaas commented on #275
@MaxBenChrist do you run tests locally? Do they pass? What is your setup? virtualenv, system python or conda? Thx for info.

[2017-07-30 16:30] MaxBenChrist commented on #275
@nikhaas  virtualenv, Mac OS or Ubuntu 16.04, no problems so far.

[2017-07-30 16:31] MaxBenChrist commented on #111
I use kNN from sklearn with a small wrapper and an implementation of DTW in C

[2017-07-30 19:16] MaxBenChrist commented on #111
Interesting talk.

what kind of code? maybe some blazing fast C implementations? :D

@Ezekiel-Kruglick I agree with what everything you said. do you want to develop a small proof of concept (does not yet to be 100% in tsfresh format) and then we iterate from that on?

[2017-07-30 19:22] Ezekiel-Kruglick commented on #111
@MaxBenChrist  Yes, sure, I'll work up a motif discovery and feature extractor algorithm.

[2017-07-30 19:43] MaxBenChrist commented on #273
Great analysis, as always @nikhaas.

Which feature is relevant highly depends on the task itself. I found it hard to say which way of calculating the autocorrelation is "right".

I am tempted add another parameter and then use both ways of calculating the autocorrelation.

However, I feel that if we have to decide on one way, we should stick with the stats model implementation, as it corresponds t

[2017-07-31 09:44] nikhaas commented on #273
I do not recommend that. At least for me, this would be quite confusing.
Maybe one last example to support the decision:. Given the following time series
[code]
`autocorr` yields this correlation coefficients:
[code]
whereas `acf` yields
[code]
I suggest not to use the statsmodels' `acf` function in the feature calculator `autocorrelation`, but to "hard-code" the calculation just like this:
[code]

[2017-07-31 10:33] MaxBenChrist commented on #273
Alright, you convinced me!

[2017-07-31 10:40] MaxBenChrist opened #276 "Speed up tests suite on Travis"
Currently the Travis build takes way to long.

Also, our tests

- are not parallelized (we had memeory issues that forced us to limit number of CPUs to 1)
- are not sorted/clustered into unit, integrations and notebook tests.

Doing both should improve the runtime of a travis run and allow more agile development.

see also

https://docs.travis-ci.com/user/speeding-up-the-build/

[2017-07-31 12:04] NoamGit opened #277 "Parallelization performance v0.7.1 and commit ...1c99e8"
Hi,

Two topics that I wanted to discuss:

##  Runtime increase in latest commit
We compared the extraction time of [version 0.7.1](https://github.com/blue-yonder/tsfresh/releases/tag/v0.7.1) to code version [1c99e8](https://github.com/blue-yonder/tsfresh/commit/76b27dd95b7702c1c0222d55aca755ab5b1c99e8). We varied the number of ids ,where every chunk/time-series had length = 91 and the dataframe h

[2017-07-31 12:22] MaxBenChrist commented on #277
those are the only features that you extract?

how long are your time series?

[2017-07-31 12:30] NoamGit commented on #277
I've updated the list. I only used -
`mean,std,var,median,max,min, sum_values, length ,augmented_dickey_fuller, ar_5_params
`
Every time-series is a 91 values array.
For example, 7612 ids define a data frame with shape [2,770,768 , 1] (91 ts-array length X 7612 ids X 4 kind/var)

[2017-07-31 13:38] MaxBenChrist commented on #277
This sounds wrong. it should be at least two columns value and id, which gives a dataframe of shape [2770768, 2]

[2017-07-31 13:40] NoamGit commented on #277
You are right, I meant that there is 2,770,768 rows.

[2017-07-31 15:03] jneuff commented on #275
Thanks for the hints @nikhaas and @MaxBenChrist. However, the strange thing is, that running the tests at a later time actually worked out. I do not have the time to investigate this, but we should keep in mind, that this can be a source of errors.

[2017-07-31 15:06] jneuff commented on #276
Good idea! Actually doing a proper split of unit and integration tests would also be helpful for local development. We can tackle this gradually.

[2017-07-31 15:09] jneuff opened #278 "RelevantFeatureAugmenter does not impute with default settings"
.. and worse, our current tests do not catch this problem. `NaN` values are actually fed into the significance tests that fail to detect that either.

I propose:

Removing the impute_function parameter from the `RelevantFeatureAugmenter` altogether. If someone wants the flexibility, they can use the other transformers.

[2017-07-31 15:42] MaxBenChrist commented on #277
Can you provide your benchmark code plus data?

[2017-08-01 06:27] NoamGit commented on #277
Unfortunately I can't provide no code nor data (both are under protection).
Yet, the code is very simple and straight forward. It includes the `extract_features` with the aforementioned settings in a 5 repetition for loop timer.
The actual data isn't important ,since it is the same for every comparison. Only its size and number of columns matter, which can be inferred from my previous posts.

[2017-08-01 08:42] MaxBenChrist commented on #277
Do you observe the same behavior for random time series?

[2017-08-01 10:53] MaxBenChrist commented on #278
Ok. lets remove the impute parameter and always impute.

[2017-08-01 10:56] #226 closed

[2017-08-01 10:56] MaxBenChrist commented on #226
Merged!

[2017-08-01 10:59] MaxBenChrist opened #280 "Adding a check for `NaN`s to the significance tests"
We are not checking if NaNs are contained in the Feature Matrix in `select_features`.

[2017-08-01 18:12] Ezekiel-Kruglick commented on #111
Update: I have a working motif extractor. That brought up other higher level issues when I applied it to data like removing duplicates and how to extract counts. I'm working on those higher level issues and building support options now like filtering based on having at least M occurrences over the time series to keep from finding less-useful highly matching pairs.

[2017-08-01 18:16] Ezekiel-Kruglick commented on #111
FYI: I had to code up algorithm myself as the other motif extractors I found using python all had issues that would have prevented us from using for features or had special cases that were okay for those authors but not good enough for a general tool. Currently it's pretty slow.

[2017-08-01 21:08] nils-braun commented on #280
We used to do this... Where did this test get lost?

[2017-08-01 21:12] nils-braun commented on #277
You are writing something about DB extraction. Does this mean you are not reading the data from RAM but feeding it in from the DB?

[2017-08-02 00:33] Ezekiel-Kruglick commented on #111
@MaxBenChrist  I've sped up the code a bunch and have some tools around the main functionality. I don't see a dev branch, what is your preferred approach for large amounts of beta-level code? Probably ready to upload in a day or two.

[2017-08-02 04:37] nils-braun commented on #111
Just do a fork and create a pull request - we will handle the rest! Looking forward to your PR :-)

[2017-08-02 06:49] GillesVandewiele commented on #111
Hey guys, sorry for my inactivity. I was on holiday!

I think extracting features from the shapelets itselves will not be that useful, since the shapelets are already small subseries and the minimal distance from a timeserie to different extracted shapelets are already quite discriminative features.

I like your motif extraction @Ezekiel-Kruglick ! Do the motifs/subsequences need to occur multiple

[2017-08-02 07:53] nils-braun commented on #277
So, thank yo very much for this nice report - I will definitely have a look into this and see, where the bug is.

[2017-08-02 10:23] NoamGit commented on #277
@MaxBenChrist  - Haven't tried it yet.

@nils-braun  - We read our data for DB and not from RAM, *however* the feature extraction is performed only on RAM stored data (after the DB extraction it becomes part of the workspace). The experiment is a very simple and straightforward input-output measurement.

[2017-08-02 11:03] nils-braun commented on #277
Ok, then I will try to reproduce this.

[2017-08-02 11:32] #278 closed

[2017-08-02 11:32] MaxBenChrist commented on #278
solved by pr #281

[2017-08-02 11:45] nils-braun commented on #277
Ok, I have tried to reproduce what you are seeing, but unfortunately, I could not see the same issues here.

Let me first discuss what I have done and that what the results are.

My testing machine is an SLC6 machine (linux) with python 3.6.2. It has 28 Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz and 252 GB RAM (I tried to be as closely as possible to your machine, but I do not have a windows machin

[2017-08-02 11:51] nils-braun commented on #277
Ok, here are the results. The first plot shows a comparison with 1, 4 or 10 processes between v7 and master, with different number of ids. As you see, we are faster on master than with v7 - the difference is larger with larger time series (as then parallel processing is more important) and smaller with larger number of processes (as the execution time is then so fast, that streaming becomes more i

[2017-08-02 11:55] nils-braun commented on #277
So as you see, unfortunately I could not reproduce your bug.
I would suggest, you try your setup without your own implementation of the multiprocessing - maybe this helps. As we are relying on the multiprocessing implementation of python itself, I do not see that many things we can do here (or we doing wrong here), sorry. It could be that you are running in some sort of locking mechanism, some sor

[2017-08-02 12:50] MaxBenChrist commented on #277
Awesome analysis @nils-braun!

[2017-08-02 14:15] rgalbo opened #282 "pandas.core.datetools deprecation error"
When you import `extract_features` from `tsfresh` this deprecation warning is given, I can't find where this is imported in the package.

![pandas core error](https://user-images.githubusercontent.com/6351996/28877790-0e23342c-7763-11e7-9d33-5b695492acdd.JPG)

[2017-08-02 14:17] nils-braun commented on #282
Yes, this is correct - I have also seen this warning. The problem is, as you have stated, that we are not importing this in our own code - but some library we use imports this.
If I find the time, I will track this down and see, if we can make a PR to this external library.
Thank you for reporting this!

[2017-08-02 14:19] MaxBenChrist commented on #282
That warning is from statsmodels.

[2017-08-02 14:22] nils-braun commented on #282
Ok, thanks @MaxBenChrist :-)

[2017-08-02 14:27] nils-braun commented on #282
And it was fixed on #3618 in statsmodels - but only on master not in any release they have, as far as I see.

So the only possibility is to import this with disabled warnings...

[2017-08-02 15:53] NoamGit commented on #277
Thanks, great work @nils-braun
I will try this out on a linux machine and see if results are similar.
If not, I will continue to report.

BTW, I think that the most interesting question is - why is the CPU usage so high without parallelization?

[2017-08-02 15:55] nils-braun commented on #277
You have seen this with v0.7.1 or with the master or with both?

[2017-08-02 16:15] NoamGit commented on #277
With both..
I believe the reason is because of using 50% with 1 process. This means that the feature_calculators module is doing some heavy parallel processing by itself

[2017-08-02 16:16] nils-braun commented on #277
Well no, I am quite sure it does not - so let me check this in the evening today

[2017-08-02 16:24] nils-braun commented on #277
At least we are not expecting this to happen :-D

[2017-08-02 18:19] Ezekiel-Kruglick commented on #111
@GillesVandewiele
"Do the motifs/subsequences need to occur multiple times EXACTLY in the timeserie or is the shape enough?" - Right now I'm using euclidean distance and the user can put in a distance cutoff of their preference when generating features. So the match need not be exact (exact would be distance zero), and is adjustable to whatever the user wants. The distance metric computation is al

[2017-08-02 20:55] MaxBenChrist opened #285 "Catalog of tsfresh features"
It would be great to have a catalogue of features in the documentation

[2017-08-02 21:01] MaxBenChrist opened #286 "Fix docstrings for feature calculators"
There are some docstrings in the `tsfresh.feature_extraction.feature_calculators` submodule that are malformated, we should fix them

[2017-08-02 21:53] nils-braun commented on #277
Ok, I have checked with `n_jobs` set to 0 in the master version I was describing above - and the CPU utilization looks as expected: 100 % of one core, nothing on other cores.

So, I think here is something going on - but it is quite hard to reproduce this without your code... But I can understand if you can not give this to us.
For me, everything looks quite fine and understood. What I do not unde

[2017-08-02 22:06] nikhaas commented on #286
I also noticed that. So I began to format the docstrings:
- make them at most 80 characters per line
- streamlined the "references": it seems like until now, everyone did is on his behalf. The problem with some references, the web and / or latex build fails, see this examples:

## 1) Some docstrings so far
- sample entropy web
![sample_entropy_reference_web](https://user-images.githubusercontent.c

[2017-08-03 08:12] MaxBenChrist commented on #286
I have not really used `python setup.py doctest` so far.

[2017-08-03 08:17] #286 closed

[2017-08-03 11:17] MaxBenChrist commented on #285
I have an idea how to realize this. We can have a python script that creates the table. It should iterate over our feature_calculator module, check if the respective method has a simple or combiner attribute.

If it has one it is added to the table.

See also
https://github.com/cesium-ml/cesium/blob/56bc1e98840268cb66db27864f611253ab8cce21/doc/tools/feature_table.py

I will sketch a draft the next

[2017-08-03 11:20] MaxBenChrist commented on #285
Such a script can be embedded into sphinx by https://pythonhosted.org/sphinxcontrib-programoutput/

[2017-08-03 12:36] nikhaas commented on #273
I think this issue can be closed now.

[2017-08-03 12:47] #273 closed

[2017-08-03 12:48] MaxBenChrist commented on #273
indeed

[2017-08-03 13:47] nikhaas commented on #285
I think one can do this with the Sphinx-Extension [`autosummary`](http://www.sphinx-doc.org/en/stable/ext/autosummary.html)

As a proof of concept, I modified the `docs/text/introduction.rst` as follows:

[code]
The output looks like this:
- On the introduction website:
![intro_with_link_to_modules](https://user-images.githubusercontent.com/18031651/28924564-7fe82a22-7862-11e7-9bbd-7c4868573507.pn

[2017-08-03 13:52] nikhaas commented on #285
You can also [define your own templates](https://github.com/sphinx-doc/sphinx/tree/master/sphinx/ext/autosummary/templates/autosummary)

[2017-08-03 15:22] MaxBenChrist commented on #285
:D

wow the list looks good. We only need two columns, the first should contain the name (with hyperlink to docs) and the second should contain the start or the whole docstring (depends how it looks).

You want to take this over?  I would have tackled this Saturday but it looks like you already implemented it.

[2017-08-03 16:12] MaxBenChrist commented on #285
I would create a new chapter that is accessible from the left sidebar.
So you can put the list into a new file `docs/text/list_of_features.rst`. afterwards you will then have to put a reference in `index.rst` to this new chapter.

[2017-08-03 18:12] nikhaas commented on #285
As you can see in #288 , I decided not to make a file `list_of_features.rst`. Let's discuss on this.
I recommend to build the documentation on your machine and inspect it.

[2017-08-04 11:31] #223 closed

[2017-08-04 11:31] #54 closed

[2017-08-05 09:42] jneuff commented on #280
Working on it.

[2017-08-05 10:10] MaxBenChrist commented on #285
Thx @nikhaas for implementing the list

[2017-08-05 10:10] #285 closed

[2017-08-05 10:28] jneuff commented on #280
See #290

[2017-08-05 10:39] MaxBenChrist commented on #190
We removed that feature in 30e041c37bcc9952de77a95acdef9143cc24c1d8

[2017-08-05 10:39] #190 closed

[2017-08-05 10:51] MaxBenChrist commented on #111
@GillesVandewiele

You can quote other people by appending a ">" to the beginning of the sentence, see https://help.github.com/articles/about-writing-and-formatting-on-github/

I think you are mixing up the finding of the motifs with the calculation of the motif features. The calculation of the feature is done inside *tsfresh*, with every time series independently. So we have fixed motifs and calc

[2017-08-05 13:21] #280 closed

[2017-08-05 21:00] inferno9004 opened #291 "import errors for tsfresh modules"
Oh no, you encountered a problem while using *tsfesh*.

We, the maintainers, are happy to help you. When opening an issue, please provide the following information to us:

1. Your operating system - OSX (yosemite), python 2.7 anaconda dist
2. The version of *tsfresh* that you are using - (current)
3. The data on which the problem occurred (please do not upload 1000s of time series but try to boil

[2017-08-06 01:38] MaxBenChrist commented on #291
Can you please paste the result of a `pip freeze`here?

[2017-08-06 01:48] inferno9004 commented on #291
[code]
[code]

[2017-08-06 02:02] MaxBenChrist commented on #291
I cannot reproduce the bug on my side.

Can you poste the used chain of conda commands which you used to install tsfresh?